# Project 4. "Tardigrades: from genestealers to space marines". Eukaryotic genome analysis.

Lab notebook by Nikita Vyatkin and Guseva Polina

In [1]:
import pandas as pd

In [2]:
def show_file_content(path, lines=10, headers_only=False):
    if headers_only:
        ! mkdir -p temp
        ! touch temp/show_file_content.tmp
        ! grep '>' {path} > temp/show_file_content.tmp
        path = "temp/show_file_content.tmp"
    
    ! head -{lines} {path}
    print("...")
    ! tail -{lines} {path}
    
    if headers_only:
        ! rm {path}


def count_seqs(path):
    res = ! grep '>' {path} | wc -l
    print(f"Total: {res[0]} sequencies")

## Data source

For this project we will be using a sequence of the _Ramazzottius varieornatus_, the YOKOZUNA-1 strain (sequenced in the University of Tokyo and named after the highest rank in professional sumo).

One can download assembled genome [here](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz)

In [3]:
! wget -P data/ https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! gunzip data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! mv data/GCA_001949185.1_Rvar_4.0_genomic.fna data/Ramazzottius_varieornatus.fna

In [4]:
! ls -lh data

In [5]:
show_file_content("data/Ramazzottius_varieornatus.fna")
count_seqs("data/Ramazzottius_varieornatus.fna")

>BDGG01000001.1 Ramazzottius varieornatus DNA, contig: Scaffold001, strain: YOKOZUNA-1, whole genome shotgun sequence
TGCTGCGACATACTCGAAACACCCAAGGTCTTACCGGGAGAATATCGTCGTCTGGAGGATTTGTATGGGCCATTGTGATG
GCCGCTACCTGGCATTGTACAACTTGAATGGTTGGTCTGAGCGGGACATGATCGACAGGTGGGCTTTGATGGTGACACTT
TTGGTGCCGCCGGCATTCCTTCTGCCCGCACGTGACATCGACAACCTCTTGACTGCCGGCCATGAAACCTCACCCCAAAC
AGGTATTCAGTGGGCAGAAAAAGCTACAAAAATCCTATCGCACGGGAATAAGTCCGTGCTAAACTAGTTAGAGCGACTTT
TGAAAGGAAGATGTAGAGTTTAGTTCATTGGAGTAATCAAGTCTTCGGTTAgtttcgtgacgtcacgattGATCCGTATG
GTGAAGCGTCTGAGCACAGAGTTTTCTTATTTTTCAACAGGTGGGAGCGACGTCATGAGCGAGTATGTGACGCCCTTCTG
TTACGTCTGTGATTCTCTCGTGGATGCCGACTGCCGAGAATCGCAAGACTGGATGCCTCGACGAAGAAACGGCttaagga
agaaagtgatgTGGACAGGCCAAGGGGAGGACGATCATGGCAGACTTGCCTTCGACTGGAAAGAAGTCTACATtcggctg
gaaaagttcaaGCAGCGATGTCCGTCCAACAATGGCTGCACCACTCACGTCTTCCTCAATAGCGGTACGTATCTTGCTGT
...
TCTTCTTTTAAGACAAGCCGGCTTGTCTTATTTAATATTAATCTTTATTTTTCTTTCTTCTTTTATAGCTATATTCATTA
ATATAAAACAAAATTTATTTAAAAGAATGTTGACAGTTTCAAGATTGTCCAACACCAGATGACTCTTGACCGCAGTTGTA
ACAACATATTCTGGATGAATATTTTATTTTGCAGTGTACTCATTTTCTTTAGTATTAAGTTCAACAATAAATAATAAGTA
TTTAGACCAAAATTACCGTAATAGAGACACGCTAGAAAACCCCCTTTTATTTTTAAGCATAGGAGGACTCCCCCCCATAC
CAGGATTTTTCCCTAAAATTTTAATTCTGATAAATTTAAGATATTCTCGGTTAAGATTGCTAAGAATTTTTCTCCTTCTT
GCCGCGTGTGTAGATATTTTTATTTATTTACGATTTTCCTTCACAAGAGCATTGAAAAATAATGGTAATCTTATATATTG
TAAAGCTGTAACAACAAAGAGAATTAAAATACTGTCTTTAAGAGCAGTCACTATAGTCACAATAATAGCAATTATATTAT
AAAAAGATTTTAAGTTAAAAAAACTAATGTGTTTCAAACACTTCAATAATGAAAATTTAAATCTTAATTTTAAAGAAAAA
CTTTTTAAATATGCTTGCAACATATCATATAAATAAAATTTCATAACAAAAAGAAAAAATCTATATGTAAATTTACAATT
TACCGCCTATACTCAGCCATTTTGACTA
Total: 200 sequencies

In [6]:
show_file_content("data/Ramazzottius_varieornatus.fna", lines=3, headers_only=True)

>BDGG01000001.1 Ramazzottius varieornatus DNA, contig: Scaffold001, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000002.1 Ramazzottius varieornatus DNA, contig: Scaffold002, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000003.1 Ramazzottius varieornatus DNA, contig: Scaffold003, strain: YOKOZUNA-1, whole genome shotgun sequence
...
>BDGG01000198.1 Ramazzottius varieornatus DNA, contig: Scaffold277, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000199.1 Ramazzottius varieornatus DNA, contig: Scaffold279, strain: YOKOZUNA-1, whole genome shotgun sequence
>AP017609.1 Ramazzottius varieornatus mitochondrial DNA, complete genome, strain: YOKOZUNA-1

## Structural annotation

One can download AUGUSTUS results [here](https://drive.google.com/file/d/1wBxf6cDgu22NbjAOgTe-8b3Zx60hNKY0/view?usp=drive_web).

[Script](http://augustus.gobics.de/binaries/scripts/getAnnoFasta.pl) for GFF to FASTA converting.

In [7]:
ls -lhR

In [8]:
! chmod +x getAnnoFasta.pl

In [7]:
! mkdir proteins

In [8]:
! ./getAnnoFasta.pl data/augustus.whole.gff
! mv data/augustus.whole.aa proteins/all_proteins.faa

In [9]:
show_file_content("proteins/all_proteins.faa")
count_seqs("proteins/all_proteins.faa")

>g1.t1
AATYSKHPRSYRENIVVWRICMGHCDGRYLALYNLNGWSERDMIDRWALMVTLLVPPAFLLPARDIDNLLTAGHETSPQTGGSDVMSEYVTPFCYVCDSL
VDADCRESQDWMPRRRNGLRKKVMWTGQGEDDHGRLAFDWKEVYIRLEKFKQRCPSNNGCTTHVFLNSDRVIRRCFDPKEPPCSGHEWMVNRRNPKKRSK
VKVVSRLTCADWPFCNVDSAYYWPNGTVEALLSPHDDPQLKVRSAKLSCYECDSILQPDCTGQNFVKAVRKPNDAVAHSVDWVGLRKGMEKFRTRCPVES
GCFFQGDHMTNRVIRGCRNMTTDLPRHLLVKDRRKESSVFRTEEVCRESECNSRVLFFSHSGAFLDSDWHFNNSSAGRDNGQGEAKKEVYQGDAPATEET
GFLPHVKQSGQGKRKEGRLQKRTIGDVEREERRADEARQRRGKPKAEGRGGAGTRVLSFGHRSRKTSAGGKLDSCWLLLLLPFFLL
>g2.t1
MTFAVTVATTSQSCAIAFDVFWLTTIKLFFIAKYFGSEFTPFDKVQSLTCPHCAQQGIEYKDLLPHLETNHADTSDFLVVSDNITIIWDVAHCI
>g3.t1
MLDKAKLVLLNKGGRPSIRSAEDGWKVFSDSLLCRASSDGRVFIGKGGGNGGAVAKAEVAAIGVVLVHHMLQQVVRHGEVVIVSANTNWTPLPY
...
FPHCLGYVDGSLIGLQEAPSMCGEDYYTRKGSYAINAMIVCDDLKRIRHVLAGFPGCSHDHRVFMYSKLALNPFKYFSGHEYLLADSAYPVSDIIVPTFK
KPLANSH
>g16433.t1
MHLDADIDESSKEEKPEIVMEYNRTKAGVDTLDQLTGNYSCRRKTSRWPMALFYDILDISTLDAYIIWCEINPGWNSTLPTKRRMFLQDVSKKMMQRQLL
RRSTTPSISFSMKKFVSTVVPRVQVSSDQAVDEMANTSKPKALQKKPTR
>g16434.t1
RIHLLADCHLLKTLNLLQRDREVFPKVDLKSGVIWKVAFFSQALAAMERSVSQKNFGSPVLV
>g16435.t1
MKRPGGQKYHPWSDETKLKSGDVGGANHPWADEAKLNQHPKCAVLSSKLSNVTSMMKFLATGPTGECMSESRYTAFLAGQKNSLGVATKVAGGITSPSQL
CLCKPLLYEEFLTFSNSMVMCETGLDDTCLTRKFK
Total: 16435 sequencies

## Physical localization

Considering that DNA is a major target of radiation damage, we may hypothesize that tardigrades might have unique proteins associated with their DNA to protect and/or effectively repair it. To explore this possibility, we will combine genomic and proteomic data.

[List](https://disk.yandex.ru/d/xJqQMGX77Xueqg) of peptides that were associated with the Tardigrade's DNA

In [2]:
ls -lhR

.:
total 48K
drwxrwxr-x 2 nikitos nikitos 4,0K дек  5 18:41 annotation/
drwxrwxr-x 2 nikitos nikitos 4,0K дек  7 16:25 data/
-rwxrwxr-x 1 nikitos nikitos 6,6K дек  5 18:27 getAnnoFasta.pl*
-rw-rw-r-- 1 nikitos nikitos  21K дек  8 15:39 Lab_Notebook.ipynb
drwxrwxr-x 2 nikitos nikitos 4,0K дек  7 17:10 temp/
-rw-rw-r-- 1 nikitos nikitos   76 дек  7 17:23 temp.txt

./annotation:
total 7,0M
-rw-rw-r-- 1 nikitos nikitos 7,0M дек  5 18:41 augustus.whole.aa

./data:
total 81M
-rw-rw-r-- 1 nikitos nikitos 27M дек  5 18:21 augustus.whole.gff
-rw-rw-r-- 1 nikitos nikitos 737 дек  7 16:22 dna_associated_peptides.fa
-rw-rw-r-- 1 nikitos nikitos 54M янв 12  2017 Ramazzottius_varieornatus.fna

./temp:
total 0

In [16]:
show_file_content("data/dna_associated_peptides.fa", lines=6)
count_seqs("data/dna_associated_peptides.fa")

>1
VFSALDVLR
>2
SPLQTDEIR
>3
AATGAVLSSADSR
...
>41
GPEDEAGGPPK
>42
SSGGNSPDVVVR
>43
STVGQTPPQNLQR
Total: 43 sequencies

In [18]:
peptides = []

with open("data/dna_associated_peptides.fa", 'r') as f_in:
    for line in f_in:
        line = line.strip()
        if line.startswith('>'):
            peptides.append([line[1:], []])
        elif line:
            peptides[-1][1].append(line)

    for peptide in peptides:
        peptide[0] = int(peptide[0])
        peptide[1] = ''.join(peptide[1])

peptides = dict(peptides)

In [19]:
peptides

{1: 'VFSALDVLR',
 2: 'SPLQTDEIR',
 3: 'AATGAVLSSADSR',
 4: 'LLDDENDYELK',
 5: 'VTGSSQGAINQQQAK',
 6: 'VTGSSAQQIDINQAR',
 7: 'LTSSGTGAGSAPAAAK',
 8: 'NIPVGGVNTEATGDNYIR',
 9: 'QGGMGMSGGMGGADR',
 10: 'GPEDEAGGPPK',
 11: 'LTDDELNQAMK',
 12: 'AATGAVQSSASK',
 13: 'VLLDNQDDYELK',
 14: 'VFSALDVLR',
 15: 'EIYANAQPGK',
 16: 'QIMDNEGLR',
 17: 'SAPLSASPISAR',
 18: 'SSSSSSQESQSSSSQVR',
 19: 'STVGQTPPQNLQR',
 20: 'APVNGIVTDANGNQIQVR',
 21: 'TNAAGQLIGPGGIAINDAGLTR',
 22: 'VFSALDVLR',
 23: 'SPLQTDEIR',
 24: 'QFQDYSNSR',
 25: 'AATGAVLSSADSR',
 26: 'VFSALDVLR',
 27: 'EIYANAQPGK',
 28: 'QFQDYSNSR',
 29: 'NIPVGGVNTEATGDNYIR',
 30: 'AATGAVQSSASK',
 31: 'VLLDNQDDYELK',
 32: 'SGEQAMVDAK',
 33: 'SSTTTSTMNAAK',
 34: 'TTTTTGTTGTSGTTMPPK',
 35: 'VVEQTGASSSR',
 36: 'SSSSSSQESQSSSSQVR',
 37: 'NTSFNTTGDR',
 38: 'GYSYTNTTTYR',
 39: 'AVTGAVAGVK',
 40: 'QFQDYSNSR',
 41: 'GPEDEAGGPPK',
 42: 'SSGGNSPDVVVR',
 43: 'STVGQTPPQNLQR'}

In [20]:
len(set(peptides.values()))

29

In [21]:
unique_vals = set(peptides.values())
new_peptides = dict()

for key, val in peptides.items():
    if val in unique_vals:
        new_peptides[key] = val
        unique_vals -= {val}

peptides = new_peptides

with open("data/dna_associated_peptides.fa", 'w') as f_out:
    for key, val in peptides.items():
        f_out.write(f">{key}\n")
        f_out.write(val)
        f_out.write('\n')
    
len(peptides)

29

In [22]:
peptides

{1: 'VFSALDVLR',
 2: 'SPLQTDEIR',
 3: 'AATGAVLSSADSR',
 4: 'LLDDENDYELK',
 5: 'VTGSSQGAINQQQAK',
 6: 'VTGSSAQQIDINQAR',
 7: 'LTSSGTGAGSAPAAAK',
 8: 'NIPVGGVNTEATGDNYIR',
 9: 'QGGMGMSGGMGGADR',
 10: 'GPEDEAGGPPK',
 11: 'LTDDELNQAMK',
 12: 'AATGAVQSSASK',
 13: 'VLLDNQDDYELK',
 15: 'EIYANAQPGK',
 16: 'QIMDNEGLR',
 17: 'SAPLSASPISAR',
 18: 'SSSSSSQESQSSSSQVR',
 19: 'STVGQTPPQNLQR',
 20: 'APVNGIVTDANGNQIQVR',
 21: 'TNAAGQLIGPGGIAINDAGLTR',
 24: 'QFQDYSNSR',
 32: 'SGEQAMVDAK',
 33: 'SSTTTSTMNAAK',
 34: 'TTTTTGTTGTSGTTMPPK',
 35: 'VVEQTGASSSR',
 37: 'NTSFNTTGDR',
 38: 'GYSYTNTTTYR',
 39: 'AVTGAVAGVK',
 42: 'SSGGNSPDVVVR'}

In [19]:
proteins = []

with open("proteins/all_proteins.faa", 'r') as f_in:
    for line in f_in:
        line = line.strip()
        if line.startswith('>'):
            proteins.append([line[1:], []])
        elif line:
            proteins[-1][1].append(line)

    for protein in proteins:
        protein[1] = ''.join(protein[1])

proteins = dict(proteins)
proteins["g25.t1"]

'MQRLGYPQREQYPHNQRQSILEKLIRAVDQALKNPDRKQRVEIESWLKRNLPKDPKLQLKLASDARGEVSLEDLLMTKEDLEAASKALLNESSKSGLHLPGLDESVQNIWPNDARGVLSLTELLVEAPAEPLRIFPSTYVADLIVTLVASLLEKEEVTLQKVLEMFPQLRNTFKPVETYLRKXXXXXXXXXXXXXXXXXXXXDEQRKADEASGKVSPANARSPSKSPVKLELQHKPSARSAKEIKSPH'

In [6]:
# downloading the tool
! wget http://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
! tar xzf diamond-linux64.tar.gz

--2022-12-08 16:12:47--  http://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz [following]
--2022-12-08 16:12:47--  https://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/31987083/4420191b-492f-4ec0-a80c-080436691f1e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221208%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221208T131247Z&X-Amz-Expires=300&X-Amz-Signature=b556836ddecfca6fd02dbf98564ee0598fd7f709f66560d9597b6863008f8adb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=31987083&response-content-disposition=attachment%3B%20filename%3Ddiamond-linux64.tar.gz&response-content-type=application%2Foctet-stream [following]
--2022-12-08 16:12:47--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/31987083/4420191b-492f-4ec0-a80c-080436691f1e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221208%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221208T131247Z&X-Amz-Expires=300&X-Amz-Signature=b556836ddecfca6fd02dbf98564ee0598fd7f709f66560d9597b6863008f8adb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=31987083&response-content-disposition=attachment%3B%20filename%3Ddiamond-linux64.tar.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13078237 (12M) [application/octet-stream]
Saving to: ‘diamond-linux64.tar.gz’

diamond-linux64.tar 100%[===================>]  12,47M  4,67MB/s    in 2,7s

2022-12-08 16:12:50 (4,67 MB/s) - ‘diamond-linux64.tar.gz’ saved [13078237/13078237]

In [24]:
! mkdir search_diamond

In [25]:
# creating a diamond-formatted database file
! ./diamond makedb --in proteins/all_proteins.faa -d search_diamond/reference

diamond v2.0.15.153 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 12
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Database input file: proteins/all_proteins.faa
Opening the database file...  [0s]
Loading sequences...  [0.021s]
Masking sequences...  [0.037s]
Writing sequences...  [0.003s]
Hashing sequences...  [0.001s]
Loading sequences...  [0s]
Writing trailer...  [0s]
Closing the input file...  [0s]
Closing the database file...  [0.001s]

Database sequences  16435
  Database letters  7015168
     Database hash  590081acba74e419860a4dfdcf0de70e
        Total time  0.065000s

In [26]:
# running a search in blastp mode
! ./diamond blastp -d search_diamond/reference.dmnd -q data/dna_associated_peptides.fa -o search_diamond/matches.tsv -f 6 --iterate --header

diamond v2.0.15.153 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 12
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Temporary directory: search_diamond
#Target sequences to report alignments for: 25
Opening the database...  [0.004s]
Database: search_diamond/reference.dmnd (type: Diamond database, sequences: 16435, letters: 7015168)
Block size = 2000000000
Opening the input file...  [0s]
Opening the output file...  [0s]
Loading query sequences...  [0s]
Masking queries...  [0.001s]
Algorithm: Double-indexed
Building query histograms...  [0s]
Allocating buffers...  [0s]
Loading reference sequences...  [0.006s]
Masking reference...  [0.036s]
Initializing temporary storage...  [0s]
Building reference histograms...  [0.029s]
Allocating buffers...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 1/4.
Building reference seed array...  [0.011s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0.011s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 2/4.
Building reference seed array...  [0.017s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 3/4.
Building reference seed array...  [0.013s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 4/4.
Building reference seed array...  [0.01s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 1/4.
Building reference seed array...  [0.013s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 2/4.
Building reference seed array...  [0.014s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 3/4.
Building reference seed array...  [0.012s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 4/4.
Building reference seed array...  [0.011s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Deallocating buffers...  [0s]
Clearing query masking...  [0s]
Computing alignments...  [0.003s]
Deallocating reference...  [0s]
Loading reference sequences...  [0s]
Deallocating buffers...  [0s]
Deallocating queries...  [0s]
Loading query sequences...  [0s]
Closing the input file...  [0s]
Closing the output file...  [0s]
Cleaning up...  [0s]
Total time = 0.262s
Reported 3 pairwise alignments, 3 HSPs.
3 queries aligned.

In [27]:
! cat search_diamond/matches.tsv

# DIAMOND v2.0.15. http://github.com/bbuchfink/diamond
# Invocation: ./diamond blastp -d search_diamond/reference.dmnd -q data/dna_associated_peptides.fa -o search_diamond/matches.tsv -f 6 --iterate --header
# Fields: Query ID, Subject ID, Percentage of identical matches, Alignment length, Number of mismatches, Number of gap openings, Start of alignment in query, End of alignment in query, Start of alignment in subject, End of alignment in subject, Expected value, Bit score
8	g4106.t1	100	18	0	0	1	18	222	239	5.55e-07	40.8
20	g12510.t1	100	18	0	0	1	18	425	442	1.43e-06	39.7
21	g12510.t1	100	22	0	0	1	22	443	464	2.46e-09	47.8

In [28]:
proteins["g12510.t1"], peptides[20], peptides[21]

('MCAIWENSLVGSTDNIVMRNVVAAEETISRLLCHLTSIDMWVSQNPSFDLRQKKARLPSQSRCIVRWVCLQASLQVVKDAQLAFVTVCFVLQLMEKKCAWNVTSRSIIMVTTTTKTLNYSIIRGNHTNSVNATITSTPGFNINYFGKIPGILKVLELVTIVVALGLAASRRREAPGLELPAADSWRIEYFLTGEVFFLCVMSAGLMWLVAILLTYMMHVVSSVITPKTTIHEVVFNFLFMLMFWTAGIVELAQTVPNSYPYNGRPGMEQGDWGCRVAAGALSLFIGTFFLISFALAVKELQGPKRSAPLSASPISARDHPIVTVVALGLAASRRREGTTTVVGWPVEYFLAGEVFFLCICAAALTYLFGQLTTFAWSVVSSVLIPKTTYFEIVINFLLFLAWATAGIVQLAMTCREAWNGREIRAPVNGIVTDANGNQIQVRTNAAGQLIGPGGIAINDAGLTRAVYRSPDMLFQDWGCRIAAGSLALFLSIFHLISFALAVKEFQGPRNEAR',
 'APVNGIVTDANGNQIQVR',
 'TNAAGQLIGPGGIAINDAGLTR')

In [52]:
def hamming_distance(s1: str, s2: str) -> int:
    assert len(s1) == len(s2), "Strings have different lengths"
    for i in range(len(s1)):
        if s1[i] != s2[i]:
            return False
    return True


def pattern_matching(text: str, pattern: str, mismatches: int = 0) -> list[int]:
    res = []
    pattern_len = len(pattern)
    for i in range(len(text) - pattern_len + 1):
        if hamming_distance(text[i:i + pattern_len], pattern):
            res.append(i)
    return res

matches = []
for protein in proteins.items():
    for peptide in peptides.items():
        res = pattern_matching(protein[1], peptide[1])
        for ind in res:
            matches.append((protein[0], peptide[0], ind))

matches

[('g702.t1', '18', 174),
 ('g702.t1', '35', 157),
 ('g1285.t1', '24', 137),
 ('g3428.t1', '10', 159),
 ('g3428.t1', '11', 128),
 ('g3679.t1', '42', 20),
 ('g4106.t1', '8', 221),
 ('g5237.t1', '19', 90),
 ('g5502.t1', '24', 135),
 ('g5503.t1', '24', 135),
 ('g5510.t1', '16', 168),
 ('g5616.t1', '12', 154),
 ('g5616.t1', '13', 142),
 ('g5641.t1', '1', 24),
 ('g5641.t1', '2', 35),
 ('g5641.t1', '3', 154),
 ('g5641.t1', '4', 143),
 ('g5641.t1', '24', 127),
 ('g10513.t1', '9', 304),
 ('g10514.t1', '37', 220),
 ('g10514.t1', '38', 41),
 ('g12510.t1', '17', 305),
 ('g12510.t1', '20', 424),
 ('g12510.t1', '21', 442),
 ('g12562.t1', '24', 127),
 ('g12562.t1', '39', 160),
 ('g13530.t1', '5', 223),
 ('g13530.t1', '6', 87),
 ('g14472.t1', '7', 367),
 ('g15153.t1', '1', 24),
 ('g15153.t1', '15', 44),
 ('g15153.t1', '24', 127),
 ('g15484.t1', '32', 830),
 ('g15484.t1', '33', 790),
 ('g15484.t1', '34', 754)]

In [53]:
len(matches)

35

In [54]:
proteins["g702.t1"], peptides["18"], peptides["35"]

('MKCLIVFSAFVASALAANGDQQPKVWDALNVLRGKDALFADQIQELLMNVVPGQDFPLLSEVPDTAVDCSRFKQPGFYADTEQGRCQVFHRCDINGHLTGYLCPNMTLFNQITLVCDWFYNVDCSQARQFYDYSNSRLYQEGVALLDDQNDFEVRARVVEQTGASSSRRLSGSRSSSSSSQESQSSSSQVRRRKSRKSKXXXXXXXXQSVSQEFA',
 'SSSSSSQESQSSSSQVR',
 'VVEQTGASSSR')

In [61]:
matched_proteins = [matches[0][0]]
for prot, *_ in matches:
    if matched_proteins[-1] != prot:
        matched_proteins.append(prot)
matched_proteins

['g702.t1',
 'g1285.t1',
 'g3428.t1',
 'g3679.t1',
 'g4106.t1',
 'g5237.t1',
 'g5502.t1',
 'g5503.t1',
 'g5510.t1',
 'g5616.t1',
 'g5641.t1',
 'g10513.t1',
 'g10514.t1',
 'g12510.t1',
 'g12562.t1',
 'g13530.t1',
 'g14472.t1',
 'g15153.t1',
 'g15484.t1']

In [62]:
with open("matched_proteins.fa", 'w') as f_out:
    for protein_id in matched_proteins:
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')

In [2]:
! mkdir filter_blast

In [3]:
! makeblastdb -in proteins/all_proteins.faa -dbtype prot -out filter_blast/reference

Building a new DB, current time: 12/15/2022 14:40:37
New DB name:   /home/nikitos/Bioinformatics/BI/Workshop_on_bioinformatics/Project4/filter_blast/reference
New DB title:  proteins/all_proteins.faa
Sequence type: Protein
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 16435 sequences in 0.177495 seconds.

In [4]:
! blastp -db filter_blast/reference -query data/dna_associated_peptides.fa -outfmt 6 -out filter_blast/matches.tsv

In [5]:
df = pd.read_csv("filter_blast/matches.tsv", sep='\t', header=None)
df

    0          1        2   3   4   5   6   7    8    9      10    11
0    1   g5641.t1  100.000   9   0   0   1   9   25   33  2.000  21.6
1    1  g15153.t1  100.000   9   0   0   1   9   25   33  2.100  21.6
2    2   g5641.t1  100.000   9   0   0   1   9   36   44  1.500  21.9
3    2  g12562.t1   88.889   9   1   0   1   9   36   44  3.300  20.8
4    2   g5616.t1   88.889   9   1   0   1   9   36   44  6.700  20.0
..  ..        ...      ...  ..  ..  ..  ..  ..  ...  ...    ...   ...
63  37  g10514.t1  100.000  10   0   0   1  10  221  230  0.970  22.7
64  37   g2203.t1   77.778   9   2   0   1   9  359  367  8.400  19.6
65  38  g10514.t1  100.000  11   0   0   1  11   42   52  0.600  23.1
66  39  g12562.t1  100.000  10   0   0   1  10  161  170  0.820  22.7
67  42   g3679.t1  100.000  12   0   0   1  12   21   32  0.046  26.6

[68 rows x 12 columns]

In [6]:
df[df[2] < 100]

    0          1       2   3   4   5   6   7    8    9      10    11
3    2  g12562.t1  88.889   9   1   0   1   9   36   44  3.300  20.8
4    2   g5616.t1  88.889   9   1   0   1   9   36   44  6.700  20.0
5    2  g15153.t1  77.778   9   2   0   1   9   36   44  7.500  20.0
8    4  g12562.t1  72.727  11   3   0   1  11  144  154  1.600  21.9
9    4   g5616.t1  72.727  11   3   0   1  11  144  154  3.100  21.2
10   4    g702.t1  63.636  11   4   0   1  11  145  155  3.700  21.2
11   4  g15153.t1  63.636  11   4   0   1  11  144  154  5.400  20.4
16   8   g7861.t1  62.500  16   6   0   1  16   64   79  0.650  23.5
17   8   g4970.t1  57.143  14   6   0   5  18  134  147  8.800  20.4
19   9  g11806.t1  66.667  15   5   0   1  15  152  166  3.900  21.2
20   9  g16318.t1  66.667  15   5   0   1  15  224  238  4.900  21.2
21   9  g16368.t1  66.667  15   5   0   1  15  204  218  5.200  20.8
23  10  g11513.t1  87.500   8   1   0   2   9  872  879  8.300  20.0
28  13   g5443.t1  91.667  12   1   0   1  12   56   67  0.094  25.8
29  13   g5502.t1  91.667  12   1   0   1  12  151  162  0.140  25.0
30  13  g15153.t1  90.909  11   1   0   2  12  144  154  0.210  24.6
31  13   g5503.t1  91.667  12   1   0   1  12  151  162  0.280  24.3
33  13   g5641.t1  72.727  11   3   0   2  12  144  154  3.000  21.6
35  15  g12562.t1  80.000  10   2   0   1  10   45   54  0.950  22.7
36  15   g5641.t1  80.000  10   2   0   1  10   45   54  1.100  22.3
37  15   g5616.t1  80.000  10   2   0   1  10   45   54  1.400  21.9
38  15   g5503.t1  80.000  10   2   0   1  10   53   62  5.400  20.4
39  15   g5502.t1  80.000  10   2   0   1  10   53   62  6.600  20.0
44  20  g11320.t1  66.667  12   4   0   4  15  166  177  4.100  21.6
45  20   g8312.t1  61.538  13   5   0   1  13  148  160  5.600  21.2
47  21   g5927.t1  56.250  16   7   0   7  22  598  613  2.400  22.3
48  21   g8100.t1  56.250  16   7   0   1  16  927  942  9.900  20.8
55  24   g5616.t1  88.889   9   1   0   1   9  128  136  2.300  21.6
56  24  g12388.t1  88.889   9   1   0   1   9  136  144  4.900  20.4
57  24   g5467.t1  88.889   9   1   0   1   9  113  121  5.300  20.4
61  34  g11960.t1  53.846  13   6   0   4  16  556  568  3.500  21.6
64  37   g2203.t1  77.778   9   2   0   1   9  359  367  8.400  19.6

In [48]:
proteins["g5443.t1"][55:67], peptides[13]

('VLLDNQDDYELQ', 'VLLDNQDDYELK')

In [51]:
proteins["g15153.t1"][143:154], peptides[13]

('LLDNQDDYELQ', 'VLLDNQDDYELK')

In [63]:
with open("proteins/filtered_by_peptides_blast.fa", 'w') as f_out:
    for protein_id in sorted(list(set(df[1])), key=lambda x: int(x[1:-3])):
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')

In [64]:
len(set(df[1]))

34

## Localization prediction

In [25]:
dfs = []

for org_type in ["animals", "plants", "fungi"]:
    dfs.append(pd.read_csv(f"preds_wolf/versus_{org_type}.txt", 
                           sep=" details ", 
                           engine="python", names=["protein_id", f"wolf_{org_type}"]))

df_wolf = pd.concat([dfs[0], dfs[1]["wolf_plants"], dfs[2]["wolf_fungi"]], axis=1)
df_wolf

,protein_id,wolf_animals,wolf_plants,wolf_fungi
0,g702.t1,"extr: 29, plas: 2, lyso: 1","extr: 6, vacu: 5, golg: 2, E.R.: 1",extr: 26
1,g1285.t1,"extr: 25, plas: 5, mito: 1, lyso: 1","vacu: 5, chlo: 3, extr: 3, golg: 2, nucl: 1","extr: 24, golg: 2"
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext..."
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,..."
4,g3679.t1,"extr: 26, mito: 2, lyso: 2, plas: 1, E.R.: 1","chlo: 6, nucl: 3, mito: 2, vacu: 2, extr: 1",extr: 26
5,g4106.t1,"E.R.: 14.5, E.R._golg: 9.5, extr: 7, golg: 3.5...","chlo: 6, E.R.: 3, plas: 2, pero: 2, vacu: 1","pero: 10, cyto: 5.5, E.R.: 5, cyto_nucl: 3.5, ..."
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ..."
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ..."
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ..."
9,g5467.t1,"extr: 27, plas: 4, mito: 1","extr: 6, vacu: 5, chlo: 2, golg: 1",extr: 25
10,g5502.t1,"extr: 31, lyso: 1","chlo: 9, extr: 5",extr: 27
11,g5503.t1,"extr: 29, plas: 1, mito: 1, lyso: 1","chlo: 10, extr: 3, cyto: 1","extr: 19, mito: 4, golg: 2, pero: 1, E.R.: 1"
12,g5510.t1,"plas: 23, mito: 7, E.R.: 1, golg: 1","chlo: 5, plas: 3.5, cyto_plas: 2.5, E.R.: 2, m...","plas: 21, mito: 3, E.R.: 2, pero: 1"
13,g5616.t1,"extr: 31, mito: 1","extr: 12, vacu: 2",extr: 25
14,g5641.t1,"extr: 31, lyso: 1","extr: 8, vacu: 4, golg: 2",extr: 25
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5"
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1"
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5..."
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,..."
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2"
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1"
21,g11320.t1,"plas: 24.5, extr_plas: 16, extr: 6.5, lyso: 1","extr: 11, golg: 2, E.R.: 1",extr: 27
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe..."
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3"
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5"
25,g12388.t1,"extr: 25, plas: 4, mito: 2, lyso: 1","chlo: 10, vacu: 2, cyto: 1, mito: 1","extr: 20, mito: 3, E.R.: 2, cyto: 1, pero: 1"
26,g12510.t1,"plas: 29, cyto: 3","plas: 5, vacu: 3, E.R.: 3, cyto: 2, golg: 1","mito: 13, plas: 8, cyto: 5, vacu: 1"
27,g12562.t1,"extr: 30, lyso: 2","extr: 9, vacu: 3, golg: 2",extr: 25
28,g13530.t1,"extr: 13, nucl: 6.5, lyso: 5, cyto_nucl: 4.5, ...","nucl: 11, chlo: 1, cyto: 1, cysk: 1","extr: 24, nucl: 1, mito: 1, cyto: 1"
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e..."
30,g15153.t1,extr: 32,"extr: 11, vacu: 2, E.R.: 1",extr: 27
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3"
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext..."
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ..."

In [26]:
dfs = []

for org_type in ["nonplants", "plants"]:
    dfs.append(pd.read_csv(f"preds_targetp/versus_{org_type}.txt", 
                           sep='\t', 
                           header=1, 
                          )
              )
    dfs[-1].rename(columns={"# ID": "protein_id", "Prediction": f"targetp_{org_type}"}, inplace=True)

df_targetp = pd.concat([dfs[0][["protein_id", "targetp_nonplants"]], dfs[1]["targetp_plants"]], axis=1)
df_targetp

   protein_id targetp_nonplants targetp_plants
0     g702.t1                SP             SP
1    g1285.t1                SP             SP
2    g2203.t1             OTHER          OTHER
3    g3428.t1             OTHER          OTHER
4    g3679.t1                SP             SP
5    g4106.t1             OTHER             SP
6    g4970.t1             OTHER          OTHER
7    g5237.t1             OTHER          OTHER
8    g5443.t1             OTHER          OTHER
9    g5467.t1                SP             SP
10   g5502.t1                SP             SP
11   g5503.t1                SP             SP
12   g5510.t1             OTHER          OTHER
13   g5616.t1                SP             SP
14   g5641.t1                SP             SP
15   g5927.t1             OTHER          OTHER
16   g7861.t1             OTHER          OTHER
17   g8100.t1             OTHER          OTHER
18   g8312.t1             OTHER          OTHER
19  g10513.t1             OTHER          OTHER
20  g10514.t1             OTHER          OTHER
21  g11320.t1                SP             SP
22  g11513.t1             OTHER          OTHER
23  g11806.t1             OTHER          OTHER
24  g11960.t1             OTHER          OTHER
25  g12388.t1                SP             SP
26  g12510.t1             OTHER          OTHER
27  g12562.t1                SP             SP
28  g13530.t1                SP             SP
29  g14472.t1             OTHER          OTHER
30  g15153.t1                SP             SP
31  g15484.t1             OTHER          OTHER
32  g16318.t1             OTHER          OTHER
33  g16368.t1             OTHER          OTHER

In [27]:
candidates = pd.concat([df_wolf, df_targetp.drop(columns=["protein_id"])], axis=1)
candidates.to_csv("proteins/wolf_and_targetp_predictions.tsv", sep='\t', index=False)
candidates

,protein_id,wolf_animals,wolf_plants,wolf_fungi,targetp_nonplants,targetp_plants
0,g702.t1,"extr: 29, plas: 2, lyso: 1","extr: 6, vacu: 5, golg: 2, E.R.: 1",extr: 26,SP,SP
1,g1285.t1,"extr: 25, plas: 5, mito: 1, lyso: 1","vacu: 5, chlo: 3, extr: 3, golg: 2, nucl: 1","extr: 24, golg: 2",SP,SP
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext...",OTHER,OTHER
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,...",OTHER,OTHER
4,g3679.t1,"extr: 26, mito: 2, lyso: 2, plas: 1, E.R.: 1","chlo: 6, nucl: 3, mito: 2, vacu: 2, extr: 1",extr: 26,SP,SP
5,g4106.t1,"E.R.: 14.5, E.R._golg: 9.5, extr: 7, golg: 3.5...","chlo: 6, E.R.: 3, plas: 2, pero: 2, vacu: 1","pero: 10, cyto: 5.5, E.R.: 5, cyto_nucl: 3.5, ...",OTHER,SP
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ...",OTHER,OTHER
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ...",OTHER,OTHER
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ...",OTHER,OTHER
9,g5467.t1,"extr: 27, plas: 4, mito: 1","extr: 6, vacu: 5, chlo: 2, golg: 1",extr: 25,SP,SP
10,g5502.t1,"extr: 31, lyso: 1","chlo: 9, extr: 5",extr: 27,SP,SP
11,g5503.t1,"extr: 29, plas: 1, mito: 1, lyso: 1","chlo: 10, extr: 3, cyto: 1","extr: 19, mito: 4, golg: 2, pero: 1, E.R.: 1",SP,SP
12,g5510.t1,"plas: 23, mito: 7, E.R.: 1, golg: 1","chlo: 5, plas: 3.5, cyto_plas: 2.5, E.R.: 2, m...","plas: 21, mito: 3, E.R.: 2, pero: 1",OTHER,OTHER
13,g5616.t1,"extr: 31, mito: 1","extr: 12, vacu: 2",extr: 25,SP,SP
14,g5641.t1,"extr: 31, lyso: 1","extr: 8, vacu: 4, golg: 2",extr: 25,SP,SP
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5",OTHER,OTHER
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1",OTHER,OTHER
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5...",OTHER,OTHER
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,...",OTHER,OTHER
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2",OTHER,OTHER
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1",OTHER,OTHER
21,g11320.t1,"plas: 24.5, extr_plas: 16, extr: 6.5, lyso: 1","extr: 11, golg: 2, E.R.: 1",extr: 27,SP,SP
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe...",OTHER,OTHER
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3",OTHER,OTHER
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5",OTHER,OTHER
25,g12388.t1,"extr: 25, plas: 4, mito: 2, lyso: 1","chlo: 10, vacu: 2, cyto: 1, mito: 1","extr: 20, mito: 3, E.R.: 2, cyto: 1, pero: 1",SP,SP
26,g12510.t1,"plas: 29, cyto: 3","plas: 5, vacu: 3, E.R.: 3, cyto: 2, golg: 1","mito: 13, plas: 8, cyto: 5, vacu: 1",OTHER,OTHER
27,g12562.t1,"extr: 30, lyso: 2","extr: 9, vacu: 3, golg: 2",extr: 25,SP,SP
28,g13530.t1,"extr: 13, nucl: 6.5, lyso: 5, cyto_nucl: 4.5, ...","nucl: 11, chlo: 1, cyto: 1, cysk: 1","extr: 24, nucl: 1, mito: 1, cyto: 1",SP,SP
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e...",OTHER,OTHER
30,g15153.t1,extr: 32,"extr: 11, vacu: 2, E.R.: 1",extr: 27,SP,SP
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3",OTHER,OTHER
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext...",OTHER,OTHER
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ...",OTHER,OTHER

In [28]:
candidates = candidates[(candidates["wolf_animals"].str.startswith("nucl")) &
                        (candidates["targetp_nonplants"] == "OTHER")
                       ]
print(f"Num candidates: {len(candidates)}")
candidates

Num candidates: 12

,protein_id,wolf_animals,wolf_plants,wolf_fungi,targetp_nonplants,targetp_plants
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5",OTHER,OTHER
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1",OTHER,OTHER
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5...",OTHER,OTHER
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,...",OTHER,OTHER
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2",OTHER,OTHER
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1",OTHER,OTHER
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3",OTHER,OTHER
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5",OTHER,OTHER
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e...",OTHER,OTHER
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3",OTHER,OTHER
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext...",OTHER,OTHER
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ...",OTHER,OTHER

In [14]:
candidates = candidates[((candidates["wolf_animals"].str.find("nucl") != -1) | 
                        (candidates["wolf_plants"].str.find("nucl") != -1) |
                        (candidates["wolf_fungi"].str.find("nucl") != -1)) &
                        (candidates["targetp_nonplants"] == "OTHER") &
                        (candidates["targetp_plants"] == "OTHER")
               ]
print(f"Num candidates: {len(candidates)}")
candidates

Num candidates: 18

,protein_id,wolf_animals,wolf_plants,wolf_fungi,targetp_nonplants,targetp_plants
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext...",OTHER,OTHER
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,...",OTHER,OTHER
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ...",OTHER,OTHER
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ...",OTHER,OTHER
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ...",OTHER,OTHER
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5",OTHER,OTHER
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1",OTHER,OTHER
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5...",OTHER,OTHER
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,...",OTHER,OTHER
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2",OTHER,OTHER
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1",OTHER,OTHER
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe...",OTHER,OTHER
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3",OTHER,OTHER
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5",OTHER,OTHER
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e...",OTHER,OTHER
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3",OTHER,OTHER
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext...",OTHER,OTHER
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ...",OTHER,OTHER

In [29]:
with open("proteins/filtered_by_localization_short.fa", 'w') as f_out:
    for protein_id in candidates["protein_id"]:
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')