# Project 4. "Tardigrades: from genestealers to space marines". Eukaryotic genome analysis.

Lab notebook by Nikita Vyatkin

In [1]:
def show_file_content(path, lines=10, headers_only=False):
    if headers_only:
        ! mkdir -p temp
        ! touch temp/show_file_content.tmp
        ! grep '>' {path} > temp/show_file_content.tmp
        path = "temp/show_file_content.tmp"
    
    ! head -{lines} {path}
    print("...")
    ! tail -{lines} {path}
    
    if headers_only:
        ! rm {path}


def count_seqs(path):
    res = ! grep '>' {path} | wc -l
    print(f"Total: {res[0]} sequencies")

## Data source

For this project we will be using a sequence of the _Ramazzottius varieornatus_, the YOKOZUNA-1 strain (sequenced in the University of Tokyo and named after the highest rank in professional sumo).

One can download assembled genome [here](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz)

In [13]:
! wget -P data/ https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! gunzip data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
! mv data/GCA_001949185.1_Rvar_4.0_genomic.fna data/Ramazzottius_varieornatus.fna

--2022-12-05 18:12:32--  https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/001/949/185/GCA_001949185.1_Rvar_4.0/GCA_001949185.1_Rvar_4.0_genomic.fna.gz
Resolving ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)... 130.14.250.7, 165.112.9.230, 2607:f220:41f:250::229, ...
Connecting to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|130.14.250.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17621408 (17M) [application/x-gzip]
Saving to: ‘data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz’

GCA_001949185.1_Rva 100%[===================>]  16,80M   878KB/s    in 26s

2022-12-05 18:13:00 (674 KB/s) - ‘data/GCA_001949185.1_Rvar_4.0_genomic.fna.gz’ saved [17621408/17621408]

In [14]:
! ls -lh data

total 54M
-rw-rw-r-- 1 nikitos nikitos 54M янв 12  2017 Ramazzottius_varieornatus.fna

In [2]:
show_file_content("data/Ramazzottius_varieornatus.fna")
count_seqs("data/Ramazzottius_varieornatus.fna")

>BDGG01000001.1 Ramazzottius varieornatus DNA, contig: Scaffold001, strain: YOKOZUNA-1, whole genome shotgun sequence
TGCTGCGACATACTCGAAACACCCAAGGTCTTACCGGGAGAATATCGTCGTCTGGAGGATTTGTATGGGCCATTGTGATG
GCCGCTACCTGGCATTGTACAACTTGAATGGTTGGTCTGAGCGGGACATGATCGACAGGTGGGCTTTGATGGTGACACTT
TTGGTGCCGCCGGCATTCCTTCTGCCCGCACGTGACATCGACAACCTCTTGACTGCCGGCCATGAAACCTCACCCCAAAC
AGGTATTCAGTGGGCAGAAAAAGCTACAAAAATCCTATCGCACGGGAATAAGTCCGTGCTAAACTAGTTAGAGCGACTTT
TGAAAGGAAGATGTAGAGTTTAGTTCATTGGAGTAATCAAGTCTTCGGTTAgtttcgtgacgtcacgattGATCCGTATG
GTGAAGCGTCTGAGCACAGAGTTTTCTTATTTTTCAACAGGTGGGAGCGACGTCATGAGCGAGTATGTGACGCCCTTCTG
TTACGTCTGTGATTCTCTCGTGGATGCCGACTGCCGAGAATCGCAAGACTGGATGCCTCGACGAAGAAACGGCttaagga
agaaagtgatgTGGACAGGCCAAGGGGAGGACGATCATGGCAGACTTGCCTTCGACTGGAAAGAAGTCTACATtcggctg
gaaaagttcaaGCAGCGATGTCCGTCCAACAATGGCTGCACCACTCACGTCTTCCTCAATAGCGGTACGTATCTTGCTGT
...
TCTTCTTTTAAGACAAGCCGGCTTGTCTTATTTAATATTAATCTTTATTTTTCTTTCTTCTTTTATAGCTATATTCATTA
ATATAAAACAAAATTTATTTAAAAGAATGTTGACAGTTTCAAGATTGTCCAACACCAGATGACTCTTGACCGCAGTTGTA
ACAACATATTCTGGATGAATATTTTATTTTGCAGTGTACTCATTTTCTTTAGTATTAAGTTCAACAATAAATAATAAGTA
TTTAGACCAAAATTACCGTAATAGAGACACGCTAGAAAACCCCCTTTTATTTTTAAGCATAGGAGGACTCCCCCCCATAC
CAGGATTTTTCCCTAAAATTTTAATTCTGATAAATTTAAGATATTCTCGGTTAAGATTGCTAAGAATTTTTCTCCTTCTT
GCCGCGTGTGTAGATATTTTTATTTATTTACGATTTTCCTTCACAAGAGCATTGAAAAATAATGGTAATCTTATATATTG
TAAAGCTGTAACAACAAAGAGAATTAAAATACTGTCTTTAAGAGCAGTCACTATAGTCACAATAATAGCAATTATATTAT
AAAAAGATTTTAAGTTAAAAAAACTAATGTGTTTCAAACACTTCAATAATGAAAATTTAAATCTTAATTTTAAAGAAAAA
CTTTTTAAATATGCTTGCAACATATCATATAAATAAAATTTCATAACAAAAAGAAAAAATCTATATGTAAATTTACAATT
TACCGCCTATACTCAGCCATTTTGACTA
Total: 200 sequencies

In [3]:
show_file_content("data/Ramazzottius_varieornatus.fna", lines=3, headers_only=True)

>BDGG01000001.1 Ramazzottius varieornatus DNA, contig: Scaffold001, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000002.1 Ramazzottius varieornatus DNA, contig: Scaffold002, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000003.1 Ramazzottius varieornatus DNA, contig: Scaffold003, strain: YOKOZUNA-1, whole genome shotgun sequence
...
>BDGG01000198.1 Ramazzottius varieornatus DNA, contig: Scaffold277, strain: YOKOZUNA-1, whole genome shotgun sequence
>BDGG01000199.1 Ramazzottius varieornatus DNA, contig: Scaffold279, strain: YOKOZUNA-1, whole genome shotgun sequence
>AP017609.1 Ramazzottius varieornatus mitochondrial DNA, complete genome, strain: YOKOZUNA-1

## Structural annotation

One can download AUGUSTUS results [here](https://drive.google.com/file/d/1wBxf6cDgu22NbjAOgTe-8b3Zx60hNKY0/view?usp=drive_web).

[Script](http://augustus.gobics.de/binaries/scripts/getAnnoFasta.pl) for GFF to FASTA converting.

In [4]:
ls -lhR

.:
total 52M
drwxrwxr-x 2 nikitos nikitos 4,0K дек  5 18:41 annotation/
drwxrwxr-x 2 nikitos nikitos 4,0K дек  7 16:25 data/
-rwxr-xr-x 1 nikitos nikitos  38M апр 21  2022 diamond*
-rw-rw-r-- 1 nikitos nikitos  13M апр 21  2022 diamond-linux64.tar.gz
drwxrwxr-x 2 nikitos nikitos 4,0K дек  8 16:34 diamond_search/
-rwxrwxr-x 1 nikitos nikitos 6,6K дек  5 18:27 getAnnoFasta.pl*
-rw-rw-r-- 1 nikitos nikitos  51K дек  8 17:50 Lab_Notebook.ipynb
-rw-rw-r-- 1 nikitos nikitos 6,7K дек  8 17:31 matched_proteins.fa
-rw-rw-r-- 1 nikitos nikitos 743K дек  8 17:46 output_all_results.zip
drwxrwxr-x 2 nikitos nikitos 4,0K дек 10 17:38 temp/
-rw-rw-r-- 1 nikitos nikitos 3,3K дек  8 17:47 wolfpsort_res.html

./annotation:
total 7,0M
-rw-rw-r-- 1 nikitos nikitos 7,0M дек  5 18:41 augustus.whole.aa

./data:
total 81M
-rw-rw-r-- 1 nikitos nikitos 27M дек  5 18:21 augustus.whole.gff
-rw-rw-r-- 1 nikitos nikitos 737 дек  7 16:22 dna_associated_peptides.fa
-rw-rw-r-- 1 nikitos nikitos 54M янв 12  2017 Ramazzottius_varieornatus.fna

./diamond_search:
total 7,2M
-rw-rw-r-- 1 nikitos nikitos  680 дек  8 16:34 matches.tsv
-rw-rw-r-- 1 nikitos nikitos 7,2M дек  8 16:26 reference.dmnd

./temp:
total 0

In [32]:
! chmod +x getAnnoFasta.pl

In [7]:
! mkdir proteins

In [8]:
! ./getAnnoFasta.pl data/augustus.whole.gff
! mv data/augustus.whole.aa proteins/all_proteins.faa

In [9]:
show_file_content("proteins/all_proteins.faa")
count_seqs("proteins/all_proteins.faa")

>g1.t1
AATYSKHPRSYRENIVVWRICMGHCDGRYLALYNLNGWSERDMIDRWALMVTLLVPPAFLLPARDIDNLLTAGHETSPQTGGSDVMSEYVTPFCYVCDSL
VDADCRESQDWMPRRRNGLRKKVMWTGQGEDDHGRLAFDWKEVYIRLEKFKQRCPSNNGCTTHVFLNSDRVIRRCFDPKEPPCSGHEWMVNRRNPKKRSK
VKVVSRLTCADWPFCNVDSAYYWPNGTVEALLSPHDDPQLKVRSAKLSCYECDSILQPDCTGQNFVKAVRKPNDAVAHSVDWVGLRKGMEKFRTRCPVES
GCFFQGDHMTNRVIRGCRNMTTDLPRHLLVKDRRKESSVFRTEEVCRESECNSRVLFFSHSGAFLDSDWHFNNSSAGRDNGQGEAKKEVYQGDAPATEET
GFLPHVKQSGQGKRKEGRLQKRTIGDVEREERRADEARQRRGKPKAEGRGGAGTRVLSFGHRSRKTSAGGKLDSCWLLLLLPFFLL
>g2.t1
MTFAVTVATTSQSCAIAFDVFWLTTIKLFFIAKYFGSEFTPFDKVQSLTCPHCAQQGIEYKDLLPHLETNHADTSDFLVVSDNITIIWDVAHCI
>g3.t1
MLDKAKLVLLNKGGRPSIRSAEDGWKVFSDSLLCRASSDGRVFIGKGGGNGGAVAKAEVAAIGVVLVHHMLQQVVRHGEVVIVSANTNWTPLPY
...
FPHCLGYVDGSLIGLQEAPSMCGEDYYTRKGSYAINAMIVCDDLKRIRHVLAGFPGCSHDHRVFMYSKLALNPFKYFSGHEYLLADSAYPVSDIIVPTFK
KPLANSH
>g16433.t1
MHLDADIDESSKEEKPEIVMEYNRTKAGVDTLDQLTGNYSCRRKTSRWPMALFYDILDISTLDAYIIWCEINPGWNSTLPTKRRMFLQDVSKKMMQRQLL
RRSTTPSISFSMKKFVSTVVPRVQVSSDQAVDEMANTSKPKALQKKPTR
>g16434.t1
RIHLLADCHLLKTLNLLQRDREVFPKVDLKSGVIWKVAFFSQALAAMERSVSQKNFGSPVLV
>g16435.t1
MKRPGGQKYHPWSDETKLKSGDVGGANHPWADEAKLNQHPKCAVLSSKLSNVTSMMKFLATGPTGECMSESRYTAFLAGQKNSLGVATKVAGGITSPSQL
CLCKPLLYEEFLTFSNSMVMCETGLDDTCLTRKFK
Total: 16435 sequencies

## Physical localization

Considering that DNA is a major target of radiation damage, we may hypothesize that tardigrades might have unique proteins associated with their DNA to protect and/or effectively repair it. To explore this possibility, we will combine genomic and proteomic data.

[List](https://disk.yandex.ru/d/xJqQMGX77Xueqg) of peptides that were associated with the Tardigrade's DNA

In [2]:
ls -lhR

.:
total 48K
drwxrwxr-x 2 nikitos nikitos 4,0K дек  5 18:41 annotation/
drwxrwxr-x 2 nikitos nikitos 4,0K дек  7 16:25 data/
-rwxrwxr-x 1 nikitos nikitos 6,6K дек  5 18:27 getAnnoFasta.pl*
-rw-rw-r-- 1 nikitos nikitos  21K дек  8 15:39 Lab_Notebook.ipynb
drwxrwxr-x 2 nikitos nikitos 4,0K дек  7 17:10 temp/
-rw-rw-r-- 1 nikitos nikitos   76 дек  7 17:23 temp.txt

./annotation:
total 7,0M
-rw-rw-r-- 1 nikitos nikitos 7,0M дек  5 18:41 augustus.whole.aa

./data:
total 81M
-rw-rw-r-- 1 nikitos nikitos 27M дек  5 18:21 augustus.whole.gff
-rw-rw-r-- 1 nikitos nikitos 737 дек  7 16:22 dna_associated_peptides.fa
-rw-rw-r-- 1 nikitos nikitos 54M янв 12  2017 Ramazzottius_varieornatus.fna

./temp:
total 0

In [16]:
show_file_content("data/dna_associated_peptides.fa", lines=6)
count_seqs("data/dna_associated_peptides.fa")

>1
VFSALDVLR
>2
SPLQTDEIR
>3
AATGAVLSSADSR
...
>41
GPEDEAGGPPK
>42
SSGGNSPDVVVR
>43
STVGQTPPQNLQR
Total: 43 sequencies

In [18]:
peptides = []

with open("data/dna_associated_peptides.fa", 'r') as f_in:
    for line in f_in:
        line = line.strip()
        if line.startswith('>'):
            peptides.append([line[1:], []])
        elif line:
            peptides[-1][1].append(line)

    for peptide in peptides:
        peptide[0] = int(peptide[0])
        peptide[1] = ''.join(peptide[1])

peptides = dict(peptides)

In [19]:
peptides

{1: 'VFSALDVLR',
 2: 'SPLQTDEIR',
 3: 'AATGAVLSSADSR',
 4: 'LLDDENDYELK',
 5: 'VTGSSQGAINQQQAK',
 6: 'VTGSSAQQIDINQAR',
 7: 'LTSSGTGAGSAPAAAK',
 8: 'NIPVGGVNTEATGDNYIR',
 9: 'QGGMGMSGGMGGADR',
 10: 'GPEDEAGGPPK',
 11: 'LTDDELNQAMK',
 12: 'AATGAVQSSASK',
 13: 'VLLDNQDDYELK',
 14: 'VFSALDVLR',
 15: 'EIYANAQPGK',
 16: 'QIMDNEGLR',
 17: 'SAPLSASPISAR',
 18: 'SSSSSSQESQSSSSQVR',
 19: 'STVGQTPPQNLQR',
 20: 'APVNGIVTDANGNQIQVR',
 21: 'TNAAGQLIGPGGIAINDAGLTR',
 22: 'VFSALDVLR',
 23: 'SPLQTDEIR',
 24: 'QFQDYSNSR',
 25: 'AATGAVLSSADSR',
 26: 'VFSALDVLR',
 27: 'EIYANAQPGK',
 28: 'QFQDYSNSR',
 29: 'NIPVGGVNTEATGDNYIR',
 30: 'AATGAVQSSASK',
 31: 'VLLDNQDDYELK',
 32: 'SGEQAMVDAK',
 33: 'SSTTTSTMNAAK',
 34: 'TTTTTGTTGTSGTTMPPK',
 35: 'VVEQTGASSSR',
 36: 'SSSSSSQESQSSSSQVR',
 37: 'NTSFNTTGDR',
 38: 'GYSYTNTTTYR',
 39: 'AVTGAVAGVK',
 40: 'QFQDYSNSR',
 41: 'GPEDEAGGPPK',
 42: 'SSGGNSPDVVVR',
 43: 'STVGQTPPQNLQR'}

In [20]:
len(set(peptides.values()))

29

In [21]:
unique_vals = set(peptides.values())
new_peptides = dict()

for key, val in peptides.items():
    if val in unique_vals:
        new_peptides[key] = val
        unique_vals -= {val}

peptides = new_peptides

with open("data/dna_associated_peptides.fa", 'w') as f_out:
    for key, val in peptides.items():
        f_out.write(f">{key}\n")
        f_out.write(val)
        f_out.write('\n')
    
len(peptides)

29

In [22]:
peptides

{1: 'VFSALDVLR',
 2: 'SPLQTDEIR',
 3: 'AATGAVLSSADSR',
 4: 'LLDDENDYELK',
 5: 'VTGSSQGAINQQQAK',
 6: 'VTGSSAQQIDINQAR',
 7: 'LTSSGTGAGSAPAAAK',
 8: 'NIPVGGVNTEATGDNYIR',
 9: 'QGGMGMSGGMGGADR',
 10: 'GPEDEAGGPPK',
 11: 'LTDDELNQAMK',
 12: 'AATGAVQSSASK',
 13: 'VLLDNQDDYELK',
 15: 'EIYANAQPGK',
 16: 'QIMDNEGLR',
 17: 'SAPLSASPISAR',
 18: 'SSSSSSQESQSSSSQVR',
 19: 'STVGQTPPQNLQR',
 20: 'APVNGIVTDANGNQIQVR',
 21: 'TNAAGQLIGPGGIAINDAGLTR',
 24: 'QFQDYSNSR',
 32: 'SGEQAMVDAK',
 33: 'SSTTTSTMNAAK',
 34: 'TTTTTGTTGTSGTTMPPK',
 35: 'VVEQTGASSSR',
 37: 'NTSFNTTGDR',
 38: 'GYSYTNTTTYR',
 39: 'AVTGAVAGVK',
 42: 'SSGGNSPDVVVR'}

In [23]:
proteins = []

with open("proteins/all_proteins.faa", 'r') as f_in:
    for line in f_in:
        line = line.strip()
        if line.startswith('>'):
            proteins.append([line[1:], []])
        elif line:
            proteins[-1][1].append(line)

    for protein in proteins:
        protein[1] = ''.join(protein[1])

proteins = dict(proteins)
proteins["g25.t1"]

'MQRLGYPQREQYPHNQRQSILEKLIRAVDQALKNPDRKQRVEIESWLKRNLPKDPKLQLKLASDARGEVSLEDLLMTKEDLEAASKALLNESSKSGLHLPGLDESVQNIWPNDARGVLSLTELLVEAPAEPLRIFPSTYVADLIVTLVASLLEKEEVTLQKVLEMFPQLRNTFKPVETYLRKXXXXXXXXXXXXXXXXXXXXDEQRKADEASGKVSPANARSPSKSPVKLELQHKPSARSAKEIKSPH'

In [6]:
# downloading the tool
! wget http://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
! tar xzf diamond-linux64.tar.gz

--2022-12-08 16:12:47--  http://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz [following]
--2022-12-08 16:12:47--  https://github.com/bbuchfink/diamond/releases/download/v2.0.15/diamond-linux64.tar.gz
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/31987083/4420191b-492f-4ec0-a80c-080436691f1e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221208%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221208T131247Z&X-Amz-Expires=300&X-Amz-Signature=b556836ddecfca6fd02dbf98564ee0598fd7f709f66560d9597b6863008f8adb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=31987083&response-content-disposition=attachment%3B%20filename%3Ddiamond-linux64.tar.gz&response-content-type=application%2Foctet-stream [following]
--2022-12-08 16:12:47--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/31987083/4420191b-492f-4ec0-a80c-080436691f1e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221208%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221208T131247Z&X-Amz-Expires=300&X-Amz-Signature=b556836ddecfca6fd02dbf98564ee0598fd7f709f66560d9597b6863008f8adb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=31987083&response-content-disposition=attachment%3B%20filename%3Ddiamond-linux64.tar.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13078237 (12M) [application/octet-stream]
Saving to: ‘diamond-linux64.tar.gz’

diamond-linux64.tar 100%[===================>]  12,47M  4,67MB/s    in 2,7s

2022-12-08 16:12:50 (4,67 MB/s) - ‘diamond-linux64.tar.gz’ saved [13078237/13078237]

In [12]:
! ./diamond help

diamond v2.0.15.153 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

Syntax: diamond COMMAND [OPTIONS]

Commands:
makedb	Build DIAMOND database from a FASTA file
prepdb	Prepare BLAST database for use with Diamond
blastp	Align amino acid query sequences against a protein reference database
blastx	Align DNA query sequences against a protein reference database
view	View DIAMOND alignment archive (DAA) formatted file
help	Produce help message
version	Display version information
getseq	Retrieve sequences from a DIAMOND database file
dbinfo	Print information about a DIAMOND database file
test	Run regression tests
makeidx	Make database index

General options:
--threads (-p)           number of CPU threads
--db (-d)                database file
--out (-o)               output file
--outfmt (-f)            output format
	0   = BLAST pairwise
	5   = BLAST XML
	6   = BLAST tabular
	100 = DIAMOND alignment archive (DAA)
	101 = SAM

	Value 6 may be followed by a space-separated list of these keywords:

	qseqid means Query Seq - id
	qlen means Query sequence length
	sseqid means Subject Seq - id
	sallseqid means All subject Seq - id(s), separated by a ';'
	slen means Subject sequence length
	qstart means Start of alignment in query
	qend means End of alignment in query
	sstart means Start of alignment in subject
	send means End of alignment in subject
	qseq means Aligned part of query sequence
	qseq_translated means Aligned part of query sequence (translated)
	full_qseq means Query sequence
	full_qseq_mate means Query sequence of the mate
	sseq means Aligned part of subject sequence
	full_sseq means Subject sequence
	evalue means Expect value
	bitscore means Bit score
	score means Raw score
	length means Alignment length
	pident means Percentage of identical matches
	nident means Number of identical matches
	mismatch means Number of mismatches
	positive means Number of positive - scoring matches
	gapopen means Number of gap openings
	gaps means Total number of gaps
	ppos means Percentage of positive - scoring matches
	qframe means Query frame
	btop means Blast traceback operations(BTOP)
	cigar means CIGAR string
	staxids means unique Subject Taxonomy ID(s), separated by a ';' (in numerical order)
	sscinames means unique Subject Scientific Name(s), separated by a ';'
	sskingdoms means unique Subject Super Kingdom(s), separated by a ';'
	skingdoms means unique Subject Kingdom(s), separated by a ';'
	sphylums means unique Subject Phylum(s), separated by a ';'
	stitle means Subject Title
	salltitles means All Subject Title(s), separated by a '<>'
	qcovhsp means Query Coverage Per HSP
	scovhsp means Subject Coverage Per HSP
	qtitle means Query title
	qqual means Query quality values for the aligned part of the query
	full_qqual means Query quality values
	qstrand means Query strand

	Default: qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore
--verbose (-v)           verbose console output
--log                    enable debug log
--quiet                  disable console output
--header                 Write header lines to blast tabular format.

Makedb options:
--in                     input reference file in FASTA format
--taxonmap               protein accession to taxid mapping file
--taxonnodes             taxonomy nodes.dmp from NCBI
--taxonnames             taxonomy names.dmp from NCBI

Aligner options:
--query (-q)             input query file
--strand                 query strands to search (both/minus/plus)
--un                     file for unaligned queries
--al                     file or aligned queries
--unfmt                  format of unaligned query file (fasta/fastq)
--alfmt                  format of aligned query file (fasta/fastq)
--unal                   report unaligned queries (0=no, 1=yes)
--max-target-seqs (-k)   maximum number of target sequences to report alignments for (default=25)
--top                    report alignments within this percentage range of top alignment score (overrides --max-target-seqs)
--max-hsps               maximum number of HSPs per target sequence to report for each query (default=1)
--range-culling          restrict hit culling to overlapping query ranges
--compress               compression for output files (0=none, 1=gzip, zstd)
--evalue (-e)            maximum e-value to report alignments (default=0.001)
--min-score              minimum bit score to report alignments (overrides e-value setting)
--id                     minimum identity% to report an alignment
--query-cover            minimum query cover% to report an alignment
--subject-cover          minimum subject cover% to report an alignment
--fast                   enable fast mode
--mid-sensitive          enable mid-sensitive mode
--sensitive              enable sensitive mode)
--more-sensitive         enable more sensitive mode
--very-sensitive         enable very sensitive mode
--ultra-sensitive        enable ultra sensitive mode
--iterate                iterated search with increasing sensitivity
--global-ranking (-g)    number of targets for global ranking
--block-size (-b)        sequence block size in billions of letters (default=2.0)
--index-chunks (-c)      number of chunks for index processing (default=4)
--tmpdir (-t)            directory for temporary files
--parallel-tmpdir        directory for temporary files used by multiprocessing
--gapopen                gap open penalty
--gapextend              gap extension penalty
--frameshift (-F)        frame shift penalty (default=disabled)
--long-reads             short for --range-culling --top 10 -F 15
--matrix                 score matrix for protein alignment (default=BLOSUM62)
--custom-matrix          file containing custom scoring matrix
--comp-based-stats       composition based statistics mode (0-4)
--masking                masking algorithm (none, seg, tantan=default)
--query-gencode          genetic code to use to translate query (see user manual)
--salltitles             include full subject titles in DAA file
--sallseqid              include all subject ids in DAA file
--no-self-hits           suppress reporting of identical self hits
--taxonlist              restrict search to list of taxon ids (comma-separated)
--taxon-exclude          exclude list of taxon ids (comma-separated)
--seqidlist              filter the database by list of accessions
--skip-missing-seqids    ignore accessions missing in the database

Advanced options:
--algo                   Seed search algorithm (0=double-indexed/1=query-indexed/ctg=contiguous-seed)
--bin                    number of query bins for seed search
--min-orf (-l)           ignore translated sequences without an open reading frame of at least this length
--seed-cut               cutoff for seed complexity
--freq-masking           mask seeds based on frequency
--freq-sd                number of standard deviations for ignoring frequent seeds
--motif-masking          softmask abundant motifs (0/1)
--id2                    minimum number of identities for stage 1 hit
--xdrop (-x)             xdrop for ungapped alignment
--gapped-filter-evalue   E-value threshold for gapped filter (auto)
--band                   band for dynamic programming computation
--shapes (-s)            number of seed shapes (default=all available)
--shape-mask             seed shapes
--multiprocessing        enable distributed-memory parallel processing
--mp-init                initialize multiprocessing run
--mp-recover             enable continuation of interrupted multiprocessing run
--mp-query-chunk         process only a single query chunk as specified
--ext-chunk-size         chunk size for adaptive ranking (default=auto)
--no-ranking             disable ranking heuristic
--ext                    Extension mode (banded-fast/banded-slow/full)
--culling-overlap        minimum range overlap with higher scoring hit to delete a hit (default=50%)
--taxon-k                maximum number of targets to report per species
--range-cover            percentage of query range to be covered for range culling (default=50%)
--dbsize                 effective database size (in letters)
--no-auto-append         disable auto appending of DAA and DMND file extensions
--xml-blord-format       Use gnl|BL_ORD_ID| style format in XML output
--stop-match-score       Set the match score of stop codons against each other.
--tantan-minMaskProb     minimum repeat probability for masking (default=0.9)
--file-buffer-size       file buffer size in bytes (default=67108864)
--memory-limit (-M)      Memory limit for extension stage in GB
--no-unlink              Do not unlink temporary files.
--target-indexed         Enable target-indexed mode
--ignore-warnings        Ignore warnings

View options:
--daa (-a)               DIAMOND alignment archive (DAA) file
--forwardonly            only show alignments of forward strand

Getseq options:
--seq                    Space-separated list of sequence numbers to display.

Online documentation at http://www.diamondsearch.org

In [24]:
! mkdir search_diamond

In [25]:
# creating a diamond-formatted database file
! ./diamond makedb --in proteins/all_proteins.faa -d search_diamond/reference

diamond v2.0.15.153 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 12
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Database input file: proteins/all_proteins.faa
Opening the database file...  [0s]
Loading sequences...  [0.021s]
Masking sequences...  [0.037s]
Writing sequences...  [0.003s]
Hashing sequences...  [0.001s]
Loading sequences...  [0s]
Writing trailer...  [0s]
Closing the input file...  [0s]
Closing the database file...  [0.001s]

Database sequences  16435
  Database letters  7015168
     Database hash  590081acba74e419860a4dfdcf0de70e
        Total time  0.065000s

In [26]:
# running a search in blastp mode
! ./diamond blastp -d search_diamond/reference.dmnd -q data/dna_associated_peptides.fa -o search_diamond/matches.tsv -f 6 --iterate --header

diamond v2.0.15.153 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.org
Please cite: http://dx.doi.org/10.1038/s41592-021-01101-x Nature Methods (2021)

#CPU threads: 12
Scoring parameters: (Matrix=BLOSUM62 Lambda=0.267 K=0.041 Penalties=11/1)
Temporary directory: search_diamond
#Target sequences to report alignments for: 25
Opening the database...  [0.004s]
Database: search_diamond/reference.dmnd (type: Diamond database, sequences: 16435, letters: 7015168)
Block size = 2000000000
Opening the input file...  [0s]
Opening the output file...  [0s]
Loading query sequences...  [0s]
Masking queries...  [0.001s]
Algorithm: Double-indexed
Building query histograms...  [0s]
Allocating buffers...  [0s]
Loading reference sequences...  [0.006s]
Masking reference...  [0.036s]
Initializing temporary storage...  [0s]
Building reference histograms...  [0.029s]
Allocating buffers...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 1/4.
Building reference seed array...  [0.011s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0.011s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 2/4.
Building reference seed array...  [0.017s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 3/4.
Building reference seed array...  [0.013s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 1/2, index chunk 4/4.
Building reference seed array...  [0.01s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 1/4.
Building reference seed array...  [0.013s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 2/4.
Building reference seed array...  [0.014s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 3/4.
Building reference seed array...  [0.012s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Processing query block 1, reference block 1/1, shape 2/2, index chunk 4/4.
Building reference seed array...  [0.011s]
Building query seed array...  [0s]
Computing hash join...  [0s]
Masking low complexity seeds...  [0s]
Searching alignments...  [0s]
Deallocating buffers...  [0s]
Clearing query masking...  [0s]
Computing alignments...  [0.003s]
Deallocating reference...  [0s]
Loading reference sequences...  [0s]
Deallocating buffers...  [0s]
Deallocating queries...  [0s]
Loading query sequences...  [0s]
Closing the input file...  [0s]
Closing the output file...  [0s]
Cleaning up...  [0s]
Total time = 0.262s
Reported 3 pairwise alignments, 3 HSPs.
3 queries aligned.

In [27]:
! cat search_diamond/matches.tsv

# DIAMOND v2.0.15. http://github.com/bbuchfink/diamond
# Invocation: ./diamond blastp -d search_diamond/reference.dmnd -q data/dna_associated_peptides.fa -o search_diamond/matches.tsv -f 6 --iterate --header
# Fields: Query ID, Subject ID, Percentage of identical matches, Alignment length, Number of mismatches, Number of gap openings, Start of alignment in query, End of alignment in query, Start of alignment in subject, End of alignment in subject, Expected value, Bit score
8	g4106.t1	100	18	0	0	1	18	222	239	5.55e-07	40.8
20	g12510.t1	100	18	0	0	1	18	425	442	1.43e-06	39.7
21	g12510.t1	100	22	0	0	1	22	443	464	2.46e-09	47.8

In [28]:
proteins["g12510.t1"], peptides[20], peptides[21]

('MCAIWENSLVGSTDNIVMRNVVAAEETISRLLCHLTSIDMWVSQNPSFDLRQKKARLPSQSRCIVRWVCLQASLQVVKDAQLAFVTVCFVLQLMEKKCAWNVTSRSIIMVTTTTKTLNYSIIRGNHTNSVNATITSTPGFNINYFGKIPGILKVLELVTIVVALGLAASRRREAPGLELPAADSWRIEYFLTGEVFFLCVMSAGLMWLVAILLTYMMHVVSSVITPKTTIHEVVFNFLFMLMFWTAGIVELAQTVPNSYPYNGRPGMEQGDWGCRVAAGALSLFIGTFFLISFALAVKELQGPKRSAPLSASPISARDHPIVTVVALGLAASRRREGTTTVVGWPVEYFLAGEVFFLCICAAALTYLFGQLTTFAWSVVSSVLIPKTTYFEIVINFLLFLAWATAGIVQLAMTCREAWNGREIRAPVNGIVTDANGNQIQVRTNAAGQLIGPGGIAINDAGLTRAVYRSPDMLFQDWGCRIAAGSLALFLSIFHLISFALAVKEFQGPRNEAR',
 'APVNGIVTDANGNQIQVR',
 'TNAAGQLIGPGGIAINDAGLTR')

In [52]:
def hamming_distance(s1: str, s2: str) -> int:
    assert len(s1) == len(s2), "Strings have different lengths"
    for i in range(len(s1)):
        if s1[i] != s2[i]:
            return False
    return True


def pattern_matching(text: str, pattern: str, mismatches: int = 0) -> list[int]:
    res = []
    pattern_len = len(pattern)
    for i in range(len(text) - pattern_len + 1):
        if hamming_distance(text[i:i + pattern_len], pattern):
            res.append(i)
    return res

matches = []
for protein in proteins.items():
    for peptide in peptides.items():
        res = pattern_matching(protein[1], peptide[1])
        for ind in res:
            matches.append((protein[0], peptide[0], ind))

matches

[('g702.t1', '18', 174),
 ('g702.t1', '35', 157),
 ('g1285.t1', '24', 137),
 ('g3428.t1', '10', 159),
 ('g3428.t1', '11', 128),
 ('g3679.t1', '42', 20),
 ('g4106.t1', '8', 221),
 ('g5237.t1', '19', 90),
 ('g5502.t1', '24', 135),
 ('g5503.t1', '24', 135),
 ('g5510.t1', '16', 168),
 ('g5616.t1', '12', 154),
 ('g5616.t1', '13', 142),
 ('g5641.t1', '1', 24),
 ('g5641.t1', '2', 35),
 ('g5641.t1', '3', 154),
 ('g5641.t1', '4', 143),
 ('g5641.t1', '24', 127),
 ('g10513.t1', '9', 304),
 ('g10514.t1', '37', 220),
 ('g10514.t1', '38', 41),
 ('g12510.t1', '17', 305),
 ('g12510.t1', '20', 424),
 ('g12510.t1', '21', 442),
 ('g12562.t1', '24', 127),
 ('g12562.t1', '39', 160),
 ('g13530.t1', '5', 223),
 ('g13530.t1', '6', 87),
 ('g14472.t1', '7', 367),
 ('g15153.t1', '1', 24),
 ('g15153.t1', '15', 44),
 ('g15153.t1', '24', 127),
 ('g15484.t1', '32', 830),
 ('g15484.t1', '33', 790),
 ('g15484.t1', '34', 754)]

In [53]:
len(matches)

35

In [54]:
proteins["g702.t1"], peptides["18"], peptides["35"]

('MKCLIVFSAFVASALAANGDQQPKVWDALNVLRGKDALFADQIQELLMNVVPGQDFPLLSEVPDTAVDCSRFKQPGFYADTEQGRCQVFHRCDINGHLTGYLCPNMTLFNQITLVCDWFYNVDCSQARQFYDYSNSRLYQEGVALLDDQNDFEVRARVVEQTGASSSRRLSGSRSSSSSSQESQSSSSQVRRRKSRKSKXXXXXXXXQSVSQEFA',
 'SSSSSSQESQSSSSQVR',
 'VVEQTGASSSR')

In [61]:
matched_proteins = [matches[0][0]]
for prot, *_ in matches:
    if matched_proteins[-1] != prot:
        matched_proteins.append(prot)
matched_proteins

['g702.t1',
 'g1285.t1',
 'g3428.t1',
 'g3679.t1',
 'g4106.t1',
 'g5237.t1',
 'g5502.t1',
 'g5503.t1',
 'g5510.t1',
 'g5616.t1',
 'g5641.t1',
 'g10513.t1',
 'g10514.t1',
 'g12510.t1',
 'g12562.t1',
 'g13530.t1',
 'g14472.t1',
 'g15153.t1',
 'g15484.t1']

In [62]:
with open("matched_proteins.fa", 'w') as f_out:
    for protein_id in matched_proteins:
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')

In [2]:
! mkdir filter_blast

In [3]:
! makeblastdb -in proteins/all_proteins.faa -dbtype prot -out filter_blast/reference

Building a new DB, current time: 12/15/2022 14:40:37
New DB name:   /home/nikitos/Bioinformatics/BI/Workshop_on_bioinformatics/Project4/filter_blast/reference
New DB title:  proteins/all_proteins.faa
Sequence type: Protein
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 16435 sequences in 0.177495 seconds.

In [28]:
! blastp -help

USAGE
  blastp [-h] [-help] [-import_search_strategy filename]
    [-export_search_strategy filename] [-task task_name] [-db database_name]
    [-dbsize num_letters] [-gilist filename] [-seqidlist filename]
    [-negative_gilist filename] [-negative_seqidlist filename]
    [-taxids taxids] [-negative_taxids taxids] [-taxidlist filename]
    [-negative_taxidlist filename] [-ipglist filename]
    [-negative_ipglist filename] [-entrez_query entrez_query]
    [-db_soft_mask filtering_algorithm] [-db_hard_mask filtering_algorithm]
    [-subject subject_input_file] [-subject_loc range] [-query input_file]
    [-out output_file] [-evalue evalue] [-word_size int_value]
    [-gapopen open_penalty] [-gapextend extend_penalty]
    [-qcov_hsp_perc float_value] [-max_hsps int_value]
    [-xdrop_ungap float_value] [-xdrop_gap float_value]
    [-xdrop_gap_final float_value] [-searchsp int_value] [-seg SEG_options]
    [-soft_masking soft_masking] [-matrix matrix_name]
    [-threshold float_value] [-culling_limit int_value]
    [-best_hit_overhang float_value] [-best_hit_score_edge float_value]
    [-subject_besthit] [-window_size int_value] [-lcase_masking]
    [-query_loc range] [-parse_deflines] [-outfmt format] [-show_gis]
    [-num_descriptions int_value] [-num_alignments int_value]
    [-line_length line_length] [-html] [-sorthits sort_hits]
    [-sorthsps sort_hsps] [-max_target_seqs num_sequences]
    [-num_threads int_value] [-mt_mode int_value] [-ungapped] [-remote]
    [-comp_based_stats compo] [-use_sw_tback] [-version]

DESCRIPTION
   Protein-Protein BLAST 2.12.0+

OPTIONAL ARGUMENTS
 -h
   Print USAGE and DESCRIPTION;  ignore all other parameters
 -help
   Print USAGE, DESCRIPTION and ARGUMENTS; ignore all other parameters
 -version
   Print version number;  ignore other arguments

 *** Input query options
 -query <File_In>
   Input file name
   Default = `-'
 -query_loc <String>
   Location on the query sequence in 1-based offsets (Format: start-stop)

 *** General search options
 -task <String, Permissible values: 'blastp' 'blastp-fast' 'blastp-short' >
   Task to execute
   Default = `blastp'
 -db <String>
   BLAST database name
    * Incompatible with:  subject, subject_loc
 -out <File_Out>
   Output file name
   Default = `-'
 -evalue <Real>
   Expectation value (E) threshold for saving hits
   Default = `10'
 -word_size <Integer, >=2>
   Word size for wordfinder algorithm
 -gapopen <Integer>
   Cost to open a gap
 -gapextend <Integer>
   Cost to extend a gap
 -matrix <String>
   Scoring matrix name (normally BLOSUM62)
 -threshold <Real, >=0>
   Minimum word score such that the word is added to the BLAST lookup table
 -comp_based_stats <String>
   Use composition-based statistics:
       D or d: default (equivalent to 2 )
       0 or F or f: No composition-based statistics
       1: Composition-based statistics as in NAR 29:2994-3005, 2001
       2 or T or t : Composition-based score adjustment as in Bioinformatics
   21:902-911,
       2005, conditioned on sequence properties
       3: Composition-based score adjustment as in Bioinformatics 21:902-911,
       2005, unconditionally
   Default = `2'

 *** BLAST-2-Sequences options
 -subject <File_In>
   Subject sequence(s) to search
    * Incompatible with:  db, gilist, seqidlist, negative_gilist,
   negative_seqidlist, taxids, taxidlist, negative_taxids, negative_taxidlist,
   ipglist, negative_ipglist, db_soft_mask, db_hard_mask
 -subject_loc <String>
   Location on the subject sequence in 1-based offsets (Format: start-stop)
    * Incompatible with:  db, gilist, seqidlist, negative_gilist,
   negative_seqidlist, taxids, taxidlist, negative_taxids, negative_taxidlist,
   ipglist, negative_ipglist, db_soft_mask, db_hard_mask, remote

 *** Formatting options
 -outfmt <String>
   alignment view options:
     0 = Pairwise,
     1 = Query-anchored showing identities,
     2 = Query-anchored no identities,
     3 = Flat query-anchored showing identities,
     4 = Flat query-anchored no identities,
     5 = BLAST XML,
     6 = Tabular,
     7 = Tabular with comment lines,
     8 = Seqalign (Text ASN.1),
     9 = Seqalign (Binary ASN.1),
    10 = Comma-separated values,
    11 = BLAST archive (ASN.1),
    12 = Seqalign (JSON),
    13 = Multiple-file BLAST JSON,
    14 = Multiple-file BLAST XML2,
    15 = Single-file BLAST JSON,
    16 = Single-file BLAST XML2,
    18 = Organism Report

   Options 6, 7 and 10 can be additionally configured to produce
   a custom format specified by space delimited format specifiers,
   or by a token specified by the delim keyword.
    E.g.: "10 delim=@ qacc sacc score".
   The delim keyword must appear after the numeric output format
   specification.
   The supported format specifiers are:
   	    qseqid means Query Seq-id
   	       qgi means Query GI
   	      qacc means Query accesion
   	   qaccver means Query accesion.version
   	      qlen means Query sequence length
   	    sseqid means Subject Seq-id
   	 sallseqid means All subject Seq-id(s), separated by a ';'
   	       sgi means Subject GI
   	    sallgi means All subject GIs
   	      sacc means Subject accession
   	   saccver means Subject accession.version
   	   sallacc means All subject accessions
   	      slen means Subject sequence length
   	    qstart means Start of alignment in query
   	      qend means End of alignment in query
   	    sstart means Start of alignment in subject
   	      send means End of alignment in subject
   	      qseq means Aligned part of query sequence
   	      sseq means Aligned part of subject sequence
   	    evalue means Expect value
   	  bitscore means Bit score
   	     score means Raw score
   	    length means Alignment length
   	    pident means Percentage of identical matches
   	    nident means Number of identical matches
   	  mismatch means Number of mismatches
   	  positive means Number of positive-scoring matches
   	   gapopen means Number of gap openings
   	      gaps means Total number of gaps
   	      ppos means Percentage of positive-scoring matches
   	    frames means Query and subject frames separated by a '/'
   	    qframe means Query frame
   	    sframe means Subject frame
   	      btop means Blast traceback operations (BTOP)
   	    staxid means Subject Taxonomy ID
   	  ssciname means Subject Scientific Name
   	  scomname means Subject Common Name
   	sblastname means Subject Blast Name
   	 sskingdom means Subject Super Kingdom
   	   staxids means unique Subject Taxonomy ID(s), separated by a ';'
   			 (in numerical order)
   	 sscinames means unique Subject Scientific Name(s), separated by a ';'
   	 scomnames means unique Subject Common Name(s), separated by a ';'
   	sblastnames means unique Subject Blast Name(s), separated by a ';'
   			 (in alphabetical order)
   	sskingdoms means unique Subject Super Kingdom(s), separated by a ';'
   			 (in alphabetical order)
   	    stitle means Subject Title
   	salltitles means All Subject Title(s), separated by a '<>'
   	   sstrand means Subject Strand
   	     qcovs means Query Coverage Per Subject
   	   qcovhsp means Query Coverage Per HSP
   	    qcovus means Query Coverage Per Unique Subject (blastn only)
   When not provided, the default value is:
   'qaccver saccver pident length mismatch gapopen qstart qend sstart send
   evalue bitscore', which is equivalent to the keyword 'std'
   Default = `0'
 -show_gis
   Show NCBI GIs in deflines?
 -num_descriptions <Integer, >=0>
   Number of database sequences to show one-line descriptions for
   Not applicable for outfmt > 4
   Default = `500'
    * Incompatible with:  max_target_seqs
 -num_alignments <Integer, >=0>
   Number of database sequences to show alignments for
   Default = `250'
    * Incompatible with:  max_target_seqs
 -line_length <Integer, >=1>
   Line length for formatting alignments
   Not applicable for outfmt > 4
   Default = `60'
 -html
   Produce HTML output?
 -sorthits <Integer, (>=0 and =<4)>
   Sorting option for hits:
   alignment view options:
     0 = Sort by evalue,
     1 = Sort by bit score,
     2 = Sort by total score,
     3 = Sort by percent identity,
     4 = Sort by query coverage
   Not applicable for outfmt > 4
 -sorthsps <Integer, (>=0 and =<4)>
   Sorting option for hps:
     0 = Sort by hsp evalue,
     1 = Sort by hsp score,
     2 = Sort by hsp query start,
     3 = Sort by hsp percent identity,
     4 = Sort by hsp subject start
   Not applicable for outfmt != 0

 *** Query filtering options
 -seg <String>
   Filter query sequence with SEG (Format: 'yes', 'window locut hicut', or
   'no' to disable)
   Default = `no'
 -soft_masking <Boolean>
   Apply filtering locations as soft masks
   Default = `false'
 -lcase_masking
   Use lower case filtering in query and subject sequence(s)?

 *** Restrict search or results
 -gilist <String>
   Restrict search of database to list of GIs
    * Incompatible with:  seqidlist, taxids, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -seqidlist <String>
   Restrict search of database to list of SeqIDs
    * Incompatible with:  gilist, taxids, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -negative_gilist <String>
   Restrict search of database to everything except the specified GIs
    * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -negative_seqidlist <String>
   Restrict search of database to everything except the specified SeqIDs
    * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -taxids <String>
   Restrict search of database to include only the specified taxonomy IDs
   (multiple IDs delimited by ',')
    * Incompatible with:  gilist, seqidlist, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -negative_taxids <String>
   Restrict search of database to everything except the specified taxonomy IDs
   (multiple IDs delimited by ',')
    * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_seqidlist, negative_taxidlist, remote, subject,
   subject_loc
 -taxidlist <String>
   Restrict search of database to include only the specified taxonomy IDs
    * Incompatible with:  gilist, seqidlist, taxids, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc
 -negative_taxidlist <String>
   Restrict search of database to everything except the specified taxonomy IDs
    * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_seqidlist, negative_taxids, remote, subject,
   subject_loc
 -ipglist <String>
   Restrict search of database to list of IPGs
    * Incompatible with:  subject, subject_loc
 -negative_ipglist <String>
   Restrict search of database to everything except the specified IPGs
    * Incompatible with:  subject, subject_loc
 -entrez_query <String>
   Restrict search with the given Entrez query
    * Requires:  remote
 -db_soft_mask <String>
   Filtering algorithm ID to apply to the BLAST database as soft masking
    * Incompatible with:  db_hard_mask, subject, subject_loc
 -db_hard_mask <String>
   Filtering algorithm ID to apply to the BLAST database as hard masking
    * Incompatible with:  db_soft_mask, subject, subject_loc
 -qcov_hsp_perc <Real, 0..100>
   Percent query coverage per hsp
 -max_hsps <Integer, >=1>
   Set maximum number of HSPs per subject sequence to save for each query
 -culling_limit <Integer, >=0>
   If the query range of a hit is enveloped by that of at least this many
   higher-scoring hits, delete the hit
    * Incompatible with:  best_hit_overhang, best_hit_score_edge
 -best_hit_overhang <Real, (>0 and <0.5)>
   Best Hit algorithm overhang value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -best_hit_score_edge <Real, (>0 and <0.5)>
   Best Hit algorithm score edge value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -subject_besthit
   Turn on best hit per subject sequence
 -max_target_seqs <Integer, >=1>
   Maximum number of aligned sequences to keep
   (value of 5 or more is recommended)
   Default = `500'
    * Incompatible with:  num_descriptions, num_alignments

 *** Statistical options
 -dbsize <Int8>
   Effective length of the database
 -searchsp <Int8, >=0>
   Effective length of the search space

 *** Search strategy options
 -import_search_strategy <File_In>
   Search strategy to use
    * Incompatible with:  export_search_strategy
 -export_search_strategy <File_Out>
   File name to record the search strategy used
    * Incompatible with:  import_search_strategy

 *** Extension options
 -xdrop_ungap <Real>
   X-dropoff value (in bits) for ungapped extensions
 -xdrop_gap <Real>
   X-dropoff value (in bits) for preliminary gapped extensions
 -xdrop_gap_final <Real>
   X-dropoff value (in bits) for final gapped alignment
 -window_size <Integer, >=0>
   Multiple hits window size, use 0 to specify 1-hit algorithm
 -ungapped
   Perform ungapped alignment only?

 *** Miscellaneous options
 -parse_deflines
   Should the query and subject defline(s) be parsed?
 -num_threads <Integer, >=1>
   Number of threads (CPUs) to use in the BLAST search
   Default = `1'
    * Incompatible with:  remote
 -mt_mode <Integer, (>=0 and =<1)>
   Multi-thread mode to use in BLAST search:
    0 (auto) split by database
    1 split by queries
   Default = `0'
    * Requires:  num_threads
 -remote
   Execute search remotely?
    * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_seqidlist, negative_taxids, negative_taxidlist,
   subject_loc, num_threads
 -use_sw_tback
   Compute locally optimal Smith-Waterman alignments?

In [4]:
! blastp -db filter_blast/reference -query data/dna_associated_peptides.fa -outfmt 6 -out filter_blast/matches.tsv

In [5]:
import pandas as pd

df = pd.read_csv("filter_blast/matches.tsv", sep='\t', header=None)
df

    0          1        2   3   4   5   6   7    8    9      10    11
0    1   g5641.t1  100.000   9   0   0   1   9   25   33  2.000  21.6
1    1  g15153.t1  100.000   9   0   0   1   9   25   33  2.100  21.6
2    2   g5641.t1  100.000   9   0   0   1   9   36   44  1.500  21.9
3    2  g12562.t1   88.889   9   1   0   1   9   36   44  3.300  20.8
4    2   g5616.t1   88.889   9   1   0   1   9   36   44  6.700  20.0
..  ..        ...      ...  ..  ..  ..  ..  ..  ...  ...    ...   ...
63  37  g10514.t1  100.000  10   0   0   1  10  221  230  0.970  22.7
64  37   g2203.t1   77.778   9   2   0   1   9  359  367  8.400  19.6
65  38  g10514.t1  100.000  11   0   0   1  11   42   52  0.600  23.1
66  39  g12562.t1  100.000  10   0   0   1  10  161  170  0.820  22.7
67  42   g3679.t1  100.000  12   0   0   1  12   21   32  0.046  26.6

[68 rows x 12 columns]

In [6]:
df[df[2] < 100]

    0          1       2   3   4   5   6   7    8    9      10    11
3    2  g12562.t1  88.889   9   1   0   1   9   36   44  3.300  20.8
4    2   g5616.t1  88.889   9   1   0   1   9   36   44  6.700  20.0
5    2  g15153.t1  77.778   9   2   0   1   9   36   44  7.500  20.0
8    4  g12562.t1  72.727  11   3   0   1  11  144  154  1.600  21.9
9    4   g5616.t1  72.727  11   3   0   1  11  144  154  3.100  21.2
10   4    g702.t1  63.636  11   4   0   1  11  145  155  3.700  21.2
11   4  g15153.t1  63.636  11   4   0   1  11  144  154  5.400  20.4
16   8   g7861.t1  62.500  16   6   0   1  16   64   79  0.650  23.5
17   8   g4970.t1  57.143  14   6   0   5  18  134  147  8.800  20.4
19   9  g11806.t1  66.667  15   5   0   1  15  152  166  3.900  21.2
20   9  g16318.t1  66.667  15   5   0   1  15  224  238  4.900  21.2
21   9  g16368.t1  66.667  15   5   0   1  15  204  218  5.200  20.8
23  10  g11513.t1  87.500   8   1   0   2   9  872  879  8.300  20.0
28  13   g5443.t1  91.667  12   1   0   1  12   56   67  0.094  25.8
29  13   g5502.t1  91.667  12   1   0   1  12  151  162  0.140  25.0
30  13  g15153.t1  90.909  11   1   0   2  12  144  154  0.210  24.6
31  13   g5503.t1  91.667  12   1   0   1  12  151  162  0.280  24.3
33  13   g5641.t1  72.727  11   3   0   2  12  144  154  3.000  21.6
35  15  g12562.t1  80.000  10   2   0   1  10   45   54  0.950  22.7
36  15   g5641.t1  80.000  10   2   0   1  10   45   54  1.100  22.3
37  15   g5616.t1  80.000  10   2   0   1  10   45   54  1.400  21.9
38  15   g5503.t1  80.000  10   2   0   1  10   53   62  5.400  20.4
39  15   g5502.t1  80.000  10   2   0   1  10   53   62  6.600  20.0
44  20  g11320.t1  66.667  12   4   0   4  15  166  177  4.100  21.6
45  20   g8312.t1  61.538  13   5   0   1  13  148  160  5.600  21.2
47  21   g5927.t1  56.250  16   7   0   7  22  598  613  2.400  22.3
48  21   g8100.t1  56.250  16   7   0   1  16  927  942  9.900  20.8
55  24   g5616.t1  88.889   9   1   0   1   9  128  136  2.300  21.6
56  24  g12388.t1  88.889   9   1   0   1   9  136  144  4.900  20.4
57  24   g5467.t1  88.889   9   1   0   1   9  113  121  5.300  20.4
61  34  g11960.t1  53.846  13   6   0   4  16  556  568  3.500  21.6
64  37   g2203.t1  77.778   9   2   0   1   9  359  367  8.400  19.6

In [48]:
proteins["g5443.t1"][55:67], peptides[13]

('VLLDNQDDYELQ', 'VLLDNQDDYELK')

In [51]:
proteins["g15153.t1"][143:154], peptides[13]

('LLDNQDDYELQ', 'VLLDNQDDYELK')

In [63]:
with open("proteins/filtered_by_peptides_blast.fa", 'w') as f_out:
    for protein_id in sorted(list(set(df[1])), key=lambda x: int(x[1:-3])):
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')

In [64]:
len(set(df[1]))

34

## Localization prediction

In [7]:
dfs = []

for org_type in ["animals", "plants", "fungi"]:
    dfs.append(pd.read_csv(f"preds_wolf/versus_{org_type}.txt", 
                           sep=" details ", 
                           engine="python", names=["protein_id", f"wolf_{org_type}"]))

df_wolf = pd.concat([dfs[0], dfs[1]["wolf_plants"], dfs[2]["wolf_fungi"]], axis=1)
df_wolf

,protein_id,wolf_animals,wolf_plants,wolf_fungi
0,g702.t1,"extr: 29, plas: 2, lyso: 1","extr: 6, vacu: 5, golg: 2, E.R.: 1",extr: 26
1,g1285.t1,"extr: 25, plas: 5, mito: 1, lyso: 1","vacu: 5, chlo: 3, extr: 3, golg: 2, nucl: 1","extr: 24, golg: 2"
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext..."
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,..."
4,g3679.t1,"extr: 26, mito: 2, lyso: 2, plas: 1, E.R.: 1","chlo: 6, nucl: 3, mito: 2, vacu: 2, extr: 1",extr: 26
5,g4106.t1,"E.R.: 14.5, E.R._golg: 9.5, extr: 7, golg: 3.5...","chlo: 6, E.R.: 3, plas: 2, pero: 2, vacu: 1","pero: 10, cyto: 5.5, E.R.: 5, cyto_nucl: 3.5, ..."
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ..."
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ..."
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ..."
9,g5467.t1,"extr: 27, plas: 4, mito: 1","extr: 6, vacu: 5, chlo: 2, golg: 1",extr: 25
10,g5502.t1,"extr: 31, lyso: 1","chlo: 9, extr: 5",extr: 27
11,g5503.t1,"extr: 29, plas: 1, mito: 1, lyso: 1","chlo: 10, extr: 3, cyto: 1","extr: 19, mito: 4, golg: 2, pero: 1, E.R.: 1"
12,g5510.t1,"plas: 23, mito: 7, E.R.: 1, golg: 1","chlo: 5, plas: 3.5, cyto_plas: 2.5, E.R.: 2, m...","plas: 21, mito: 3, E.R.: 2, pero: 1"
13,g5616.t1,"extr: 31, mito: 1","extr: 12, vacu: 2",extr: 25
14,g5641.t1,"extr: 31, lyso: 1","extr: 8, vacu: 4, golg: 2",extr: 25
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5"
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1"
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5..."
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,..."
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2"
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1"
21,g11320.t1,"plas: 24.5, extr_plas: 16, extr: 6.5, lyso: 1","extr: 11, golg: 2, E.R.: 1",extr: 27
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe..."
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3"
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5"
25,g12388.t1,"extr: 25, plas: 4, mito: 2, lyso: 1","chlo: 10, vacu: 2, cyto: 1, mito: 1","extr: 20, mito: 3, E.R.: 2, cyto: 1, pero: 1"
26,g12510.t1,"plas: 29, cyto: 3","plas: 5, vacu: 3, E.R.: 3, cyto: 2, golg: 1","mito: 13, plas: 8, cyto: 5, vacu: 1"
27,g12562.t1,"extr: 30, lyso: 2","extr: 9, vacu: 3, golg: 2",extr: 25
28,g13530.t1,"extr: 13, nucl: 6.5, lyso: 5, cyto_nucl: 4.5, ...","nucl: 11, chlo: 1, cyto: 1, cysk: 1","extr: 24, nucl: 1, mito: 1, cyto: 1"
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e..."
30,g15153.t1,extr: 32,"extr: 11, vacu: 2, E.R.: 1",extr: 27
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3"
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext..."
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ..."

In [8]:
dfs = []

for org_type in ["nonplants", "plants"]:
    dfs.append(pd.read_csv(f"preds_targetp/versus_{org_type}.txt", 
                           sep='\t', 
                           header=1, 
                          )
              )
    dfs[-1].rename(columns={"# ID": "protein_id", "Prediction": f"targetp_{org_type}"}, inplace=True)

df_targetp = pd.concat([dfs[0][["protein_id", "targetp_nonplants"]], dfs[1]["targetp_plants"]], axis=1)
df_targetp

   protein_id targetp_nonplants targetp_plants
0     g702.t1                SP             SP
1    g1285.t1                SP             SP
2    g2203.t1             OTHER          OTHER
3    g3428.t1             OTHER          OTHER
4    g3679.t1                SP             SP
5    g4106.t1             OTHER             SP
6    g4970.t1             OTHER          OTHER
7    g5237.t1             OTHER          OTHER
8    g5443.t1             OTHER          OTHER
9    g5467.t1                SP             SP
10   g5502.t1                SP             SP
11   g5503.t1                SP             SP
12   g5510.t1             OTHER          OTHER
13   g5616.t1                SP             SP
14   g5641.t1                SP             SP
15   g5927.t1             OTHER          OTHER
16   g7861.t1             OTHER          OTHER
17   g8100.t1             OTHER          OTHER
18   g8312.t1             OTHER          OTHER
19  g10513.t1             OTHER          OTHER
20  g10514.t1             OTHER          OTHER
21  g11320.t1                SP             SP
22  g11513.t1             OTHER          OTHER
23  g11806.t1             OTHER          OTHER
24  g11960.t1             OTHER          OTHER
25  g12388.t1                SP             SP
26  g12510.t1             OTHER          OTHER
27  g12562.t1                SP             SP
28  g13530.t1                SP             SP
29  g14472.t1             OTHER          OTHER
30  g15153.t1                SP             SP
31  g15484.t1             OTHER          OTHER
32  g16318.t1             OTHER          OTHER
33  g16368.t1             OTHER          OTHER

In [9]:
candidates = pd.concat([df_wolf, df_targetp.drop(columns=["protein_id"])], axis=1)
candidates

,protein_id,wolf_animals,wolf_plants,wolf_fungi,targetp_nonplants,targetp_plants
0,g702.t1,"extr: 29, plas: 2, lyso: 1","extr: 6, vacu: 5, golg: 2, E.R.: 1",extr: 26,SP,SP
1,g1285.t1,"extr: 25, plas: 5, mito: 1, lyso: 1","vacu: 5, chlo: 3, extr: 3, golg: 2, nucl: 1","extr: 24, golg: 2",SP,SP
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext...",OTHER,OTHER
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,...",OTHER,OTHER
4,g3679.t1,"extr: 26, mito: 2, lyso: 2, plas: 1, E.R.: 1","chlo: 6, nucl: 3, mito: 2, vacu: 2, extr: 1",extr: 26,SP,SP
5,g4106.t1,"E.R.: 14.5, E.R._golg: 9.5, extr: 7, golg: 3.5...","chlo: 6, E.R.: 3, plas: 2, pero: 2, vacu: 1","pero: 10, cyto: 5.5, E.R.: 5, cyto_nucl: 3.5, ...",OTHER,SP
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ...",OTHER,OTHER
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ...",OTHER,OTHER
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ...",OTHER,OTHER
9,g5467.t1,"extr: 27, plas: 4, mito: 1","extr: 6, vacu: 5, chlo: 2, golg: 1",extr: 25,SP,SP
10,g5502.t1,"extr: 31, lyso: 1","chlo: 9, extr: 5",extr: 27,SP,SP
11,g5503.t1,"extr: 29, plas: 1, mito: 1, lyso: 1","chlo: 10, extr: 3, cyto: 1","extr: 19, mito: 4, golg: 2, pero: 1, E.R.: 1",SP,SP
12,g5510.t1,"plas: 23, mito: 7, E.R.: 1, golg: 1","chlo: 5, plas: 3.5, cyto_plas: 2.5, E.R.: 2, m...","plas: 21, mito: 3, E.R.: 2, pero: 1",OTHER,OTHER
13,g5616.t1,"extr: 31, mito: 1","extr: 12, vacu: 2",extr: 25,SP,SP
14,g5641.t1,"extr: 31, lyso: 1","extr: 8, vacu: 4, golg: 2",extr: 25,SP,SP
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5",OTHER,OTHER
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1",OTHER,OTHER
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5...",OTHER,OTHER
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,...",OTHER,OTHER
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2",OTHER,OTHER
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1",OTHER,OTHER
21,g11320.t1,"plas: 24.5, extr_plas: 16, extr: 6.5, lyso: 1","extr: 11, golg: 2, E.R.: 1",extr: 27,SP,SP
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe...",OTHER,OTHER
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3",OTHER,OTHER
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5",OTHER,OTHER
25,g12388.t1,"extr: 25, plas: 4, mito: 2, lyso: 1","chlo: 10, vacu: 2, cyto: 1, mito: 1","extr: 20, mito: 3, E.R.: 2, cyto: 1, pero: 1",SP,SP
26,g12510.t1,"plas: 29, cyto: 3","plas: 5, vacu: 3, E.R.: 3, cyto: 2, golg: 1","mito: 13, plas: 8, cyto: 5, vacu: 1",OTHER,OTHER
27,g12562.t1,"extr: 30, lyso: 2","extr: 9, vacu: 3, golg: 2",extr: 25,SP,SP
28,g13530.t1,"extr: 13, nucl: 6.5, lyso: 5, cyto_nucl: 4.5, ...","nucl: 11, chlo: 1, cyto: 1, cysk: 1","extr: 24, nucl: 1, mito: 1, cyto: 1",SP,SP
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e...",OTHER,OTHER
30,g15153.t1,extr: 32,"extr: 11, vacu: 2, E.R.: 1",extr: 27,SP,SP
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3",OTHER,OTHER
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext...",OTHER,OTHER
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ...",OTHER,OTHER

In [10]:
candidates = candidates[(candidates["wolf_animals"].str.find("nucl") != -1) | 
                        (candidates["wolf_plants"].str.find("nucl") != -1) |
                        (candidates["wolf_fungi"].str.find("nucl") != -1) |
                        (candidates["targetp_nonplants"] == "OTHER") |
                        (candidates["targetp_plants"] == "OTHER")
               ]
print(f"Num candidates: {len(candidates)}")
candidates

Num candidates: 24

,protein_id,wolf_animals,wolf_plants,wolf_fungi,targetp_nonplants,targetp_plants
1,g1285.t1,"extr: 25, plas: 5, mito: 1, lyso: 1","vacu: 5, chlo: 3, extr: 3, golg: 2, nucl: 1","extr: 24, golg: 2",SP,SP
2,g2203.t1,"plas: 29, nucl: 2, golg: 1","cyto: 5, nucl: 4, E.R.: 3, vacu: 2","plas: 9, cyto: 8.5, cyto_nucl: 5, mito: 4, ext...",OTHER,OTHER
3,g3428.t1,"mito: 18, cyto: 11, extr: 2, nucl: 1","chlo: 6, mito: 6, nucl: 1, cyto: 1","cyto: 12.5, cyto_nucl: 11, nucl: 8.5, mito: 5,...",OTHER,OTHER
4,g3679.t1,"extr: 26, mito: 2, lyso: 2, plas: 1, E.R.: 1","chlo: 6, nucl: 3, mito: 2, vacu: 2, extr: 1",extr: 26,SP,SP
5,g4106.t1,"E.R.: 14.5, E.R._golg: 9.5, extr: 7, golg: 3.5...","chlo: 6, E.R.: 3, plas: 2, pero: 2, vacu: 1","pero: 10, cyto: 5.5, E.R.: 5, cyto_nucl: 3.5, ...",OTHER,SP
6,g4970.t1,plas: 32,"nucl: 4, cyto: 3, E.R.: 3, vacu: 2, mito: 1, p...","plas: 16, cyto: 3, nucl: 2, mito: 2, pero: 2, ...",OTHER,OTHER
7,g5237.t1,"plas: 24, mito: 8","chlo: 5, golg: 4, nucl: 2, extr: 2, plas: 1","extr: 10, nucl: 4, plas: 4, mito: 3, cyto: 3, ...",OTHER,OTHER
8,g5443.t1,"extr: 28, nucl: 3, cyto: 1","chlo: 9, nucl: 2, cyto: 1, extr: 1, E.R.: 1","extr: 17, nucl: 5, cyto: 2, mito: 1, E.R.: 1, ...",OTHER,OTHER
12,g5510.t1,"plas: 23, mito: 7, E.R.: 1, golg: 1","chlo: 5, plas: 3.5, cyto_plas: 2.5, E.R.: 2, m...","plas: 21, mito: 3, E.R.: 2, pero: 1",OTHER,OTHER
15,g5927.t1,"nucl: 30.5, cyto_nucl: 16.5, cyto: 1.5",nucl: 14,"nucl: 22.5, cyto_nucl: 14, cyto: 4.5",OTHER,OTHER
16,g7861.t1,"nucl: 16, cyto_nucl: 14, cyto: 8, plas: 5, per...","nucl: 4, vacu: 4, cyto: 3, E.R.: 2, chlo: 1","nucl: 11, plas: 9, cyto: 4, mito: 2, pero: 1",OTHER,OTHER
17,g8100.t1,"nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, plas: ...","nucl: 4, E.R.: 4, cyto: 2, mito: 2, vacu: 2","cyto: 11.5, cyto_nucl: 8.5, mito: 5, nucl: 4.5...",OTHER,OTHER
18,g8312.t1,"nucl: 15.5, cyto_nucl: 15.5, cyto: 12.5, mito:...","nucl: 7, cyto: 5, chlo: 1, vacu: 1","nucl: 15.5, cyto_nucl: 12, cyto: 5.5, pero: 5,...",OTHER,OTHER
19,g10513.t1,"nucl: 20, cyto_nucl: 14.5, cyto: 7, extr: 3, E...","nucl: 13, chlo: 1","nucl: 18.5, cyto_nucl: 15, cyto: 6.5, mito: 2",OTHER,OTHER
20,g10514.t1,"nucl: 19, cyto_nucl: 15, cyto: 9, extr: 3, mit...","nucl: 8, cyto: 5, plas: 1","nucl: 20.5, cyto_nucl: 14.5, cyto: 5.5, mito: 1",OTHER,OTHER
22,g11513.t1,"cyto: 17, cyto_nucl: 12.8333, cyto_mito: 9.833...","nucl: 4, plas: 3, cyto: 2, E.R.: 2, chlo: 1, v...","cyto: 13, cyto_nucl: 9.5, mito: 6, nucl: 4, pe...",OTHER,OTHER
23,g11806.t1,"nucl: 18, cyto_nucl: 11.8333, mito: 5, extr: 4...","nucl: 11.5, cyto_nucl: 6.5, plas: 1, extr: 1","nucl: 18, cyto_nucl: 14, cyto: 6, mito: 3",OTHER,OTHER
24,g11960.t1,nucl: 32,"nucl: 13.5, cyto_nucl: 7.5","nucl: 25, cyto_nucl: 15.5",OTHER,OTHER
26,g12510.t1,"plas: 29, cyto: 3","plas: 5, vacu: 3, E.R.: 3, cyto: 2, golg: 1","mito: 13, plas: 8, cyto: 5, vacu: 1",OTHER,OTHER
28,g13530.t1,"extr: 13, nucl: 6.5, lyso: 5, cyto_nucl: 4.5, ...","nucl: 11, chlo: 1, cyto: 1, cysk: 1","extr: 24, nucl: 1, mito: 1, cyto: 1",SP,SP
29,g14472.t1,"nucl: 28, plas: 2, cyto: 1, cysk: 1",nucl: 14,"nucl: 14, cyto_nucl: 11.5, mito: 5, cyto: 5, e...",OTHER,OTHER
31,g15484.t1,"nucl: 17.5, cyto_nucl: 15.3333, cyto: 12, cyto...","nucl: 11, plas: 1, vacu: 1, golg: 1","nucl: 16.5, cyto_nucl: 12.5, cyto: 7.5, pero: 3",OTHER,OTHER
32,g16318.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17, cyto_nucl: 14, cyto: 7, mito: 1, ext...",OTHER,OTHER
33,g16368.t1,"nucl: 20.5, cyto_nucl: 13, extr: 5, cyto: 4.5,...","nucl: 13, chlo: 1","nucl: 17.5, cyto_nucl: 13.5, cyto: 6.5, mito: ...",OTHER,OTHER

In [114]:
with open("proteins/filtered_by_localization.fa", 'w') as f_out:
    for protein_id in candidates["protein_id"]:
        f_out.write('>' + protein_id + '\n')
        f_out.write(proteins[protein_id] + '\n')